ASI-CRM/ASI.Office/ASI.Office/App_WebReferences/WSMailer/MailerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Send_Plain_Text_Mail_By_Basic_Parameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_Plain_Text_Mail_By_Basic_ParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_Plain_Text_Mail_By_Basic_ParametersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_Plain_Text_Mail_And_Attachments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="Send_Plain_Text_Mail_And_AttachmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_Plain_Text_Mail_And_AttachmentsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_HTML_Mail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_HTML_MailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_HTML_MailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_HTML_Mail_And_Attachments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_HTML_Mail_And_AttachmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_HTML_Mail_And_AttachmentsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_ParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_ParametersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_Plain_Text_Mail_And_Attachments_With_Server_ParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_Plain_Text_Mail_And_Attachments_With_Server_ParametersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_HTML_Mail_With_Server_Parameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_HTML_Mail_With_Server_ParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_HTML_Mail_With_Server_ParametersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_HTML_Mail_And_Attachments_With_Server_Parameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_HTML_Mail_And_Attachments_With_Server_ParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_HTML_Mail_And_Attachments_With_Server_ParametersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_Mail_By_All_Parameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_Mail_By_All_ParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Send_Mail_By_All_ParametersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upload_File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upload_FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Upload_FileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Receive_POP3_Emails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Port" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="useSSL" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="maxDownloadEmails" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Receive_POP3_EmailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Receive_POP3_EmailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Send_Plain_Text_Mail_By_Basic_ParametersSoapIn">
    <wsdl:part name="parameters" element="tns:Send_Plain_Text_Mail_By_Basic_Parameters" />
  </wsdl:message>
  <wsdl:message name="Send_Plain_Text_Mail_By_Basic_ParametersSoapOut">
    <wsdl:part name="parameters" element="tns:Send_Plain_Text_Mail_By_Basic_ParametersResponse" />
  </wsdl:message>
  <wsdl:message name="Send_Plain_Text_Mail_And_AttachmentsSoapIn">
    <wsdl:part name="parameters" element="tns:Send_Plain_Text_Mail_And_Attachments" />
  </wsdl:message>
  <wsdl:message name="Send_Plain_Text_Mail_And_AttachmentsSoapOut">
    <wsdl:part name="parameters" element="tns:Send_Plain_Text_Mail_And_AttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="Send_HTML_MailSoapIn">
    <wsdl:part name="parameters" element="tns:Send_HTML_Mail" />
  </wsdl:message>
  <wsdl:message name="Send_HTML_MailSoapOut">
    <wsdl:part name="parameters" element="tns:Send_HTML_MailResponse" />
  </wsdl:message>
  <wsdl:message name="Send_HTML_Mail_And_AttachmentsSoapIn">
    <wsdl:part name="parameters" element="tns:Send_HTML_Mail_And_Attachments" />
  </wsdl:message>
  <wsdl:message name="Send_HTML_Mail_And_AttachmentsSoapOut">
    <wsdl:part name="parameters" element="tns:Send_HTML_Mail_And_AttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_ParametersSoapIn">
    <wsdl:part name="parameters" element="tns:Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters" />
  </wsdl:message>
  <wsdl:message name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_ParametersSoapOut">
    <wsdl:part name="parameters" element="tns:Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_ParametersResponse" />
  </wsdl:message>
  <wsdl:message name="Send_Plain_Text_Mail_And_Attachments_With_Server_ParametersSoapIn">
    <wsdl:part name="parameters" element="tns:Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters" />
  </wsdl:message>
  <wsdl:message name="Send_Plain_Text_Mail_And_Attachments_With_Server_ParametersSoapOut">
    <wsdl:part name="parameters" element="tns:Send_Plain_Text_Mail_And_Attachments_With_Server_ParametersResponse" />
  </wsdl:message>
  <wsdl:message name="Send_HTML_Mail_With_Server_ParametersSoapIn">
    <wsdl:part name="parameters" element="tns:Send_HTML_Mail_With_Server_Parameters" />
  </wsdl:message>
  <wsdl:message name="Send_HTML_Mail_With_Server_ParametersSoapOut">
    <wsdl:part name="parameters" element="tns:Send_HTML_Mail_With_Server_ParametersResponse" />
  </wsdl:message>
  <wsdl:message name="Send_HTML_Mail_And_Attachments_With_Server_ParametersSoapIn">
    <wsdl:part name="parameters" element="tns:Send_HTML_Mail_And_Attachments_With_Server_Parameters" />
  </wsdl:message>
  <wsdl:message name="Send_HTML_Mail_And_Attachments_With_Server_ParametersSoapOut">
    <wsdl:part name="parameters" element="tns:Send_HTML_Mail_And_Attachments_With_Server_ParametersResponse" />
  </wsdl:message>
  <wsdl:message name="Send_Mail_By_All_ParametersSoapIn">
    <wsdl:part name="parameters" element="tns:Send_Mail_By_All_Parameters" />
  </wsdl:message>
  <wsdl:message name="Send_Mail_By_All_ParametersSoapOut">
    <wsdl:part name="parameters" element="tns:Send_Mail_By_All_ParametersResponse" />
  </wsdl:message>
  <wsdl:message name="Upload_FileSoapIn">
    <wsdl:part name="parameters" element="tns:Upload_File" />
  </wsdl:message>
  <wsdl:message name="Upload_FileSoapOut">
    <wsdl:part name="parameters" element="tns:Upload_FileResponse" />
  </wsdl:message>
  <wsdl:message name="Receive_POP3_EmailsSoapIn">
    <wsdl:part name="parameters" element="tns:Receive_POP3_Emails" />
  </wsdl:message>
  <wsdl:message name="Receive_POP3_EmailsSoapOut">
    <wsdl:part name="parameters" element="tns:Receive_POP3_EmailsResponse" />
  </wsdl:message>
  <wsdl:portType name="MailerServiceSoap">
    <wsdl:operation name="SendPlainTextMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Sending Plain Text Email.</wsdl:documentation>
      <wsdl:input name="Send_Plain_Text_Mail_By_Basic_Parameters" message="tns:Send_Plain_Text_Mail_By_Basic_ParametersSoapIn" />
      <wsdl:output name="Send_Plain_Text_Mail_By_Basic_Parameters" message="tns:Send_Plain_Text_Mail_By_Basic_ParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMailWithAttachments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Sending Plain Text Email With Attachments.</wsdl:documentation>
      <wsdl:input name="Send_Plain_Text_Mail_And_Attachments" message="tns:Send_Plain_Text_Mail_And_AttachmentsSoapIn" />
      <wsdl:output name="Send_Plain_Text_Mail_And_Attachments" message="tns:Send_Plain_Text_Mail_And_AttachmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Sending HTML Email.</wsdl:documentation>
      <wsdl:input name="Send_HTML_Mail" message="tns:Send_HTML_MailSoapIn" />
      <wsdl:output name="Send_HTML_Mail" message="tns:Send_HTML_MailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMailWithAttachments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Sending HTML Email With Attachments.</wsdl:documentation>
      <wsdl:input name="Send_HTML_Mail_And_Attachments" message="tns:Send_HTML_Mail_And_AttachmentsSoapIn" />
      <wsdl:output name="Send_HTML_Mail_And_Attachments" message="tns:Send_HTML_Mail_And_AttachmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Sending Plain Text Email.</wsdl:documentation>
      <wsdl:input name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters" message="tns:Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_ParametersSoapIn" />
      <wsdl:output name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters" message="tns:Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_ParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMailWithAttachments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Sending Plain Text Email With Attachments.</wsdl:documentation>
      <wsdl:input name="Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters" message="tns:Send_Plain_Text_Mail_And_Attachments_With_Server_ParametersSoapIn" />
      <wsdl:output name="Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters" message="tns:Send_Plain_Text_Mail_And_Attachments_With_Server_ParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Sending HTML Email.</wsdl:documentation>
      <wsdl:input name="Send_HTML_Mail_With_Server_Parameters" message="tns:Send_HTML_Mail_With_Server_ParametersSoapIn" />
      <wsdl:output name="Send_HTML_Mail_With_Server_Parameters" message="tns:Send_HTML_Mail_With_Server_ParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMailWithAttachments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Sending HTML Email With Attachments.</wsdl:documentation>
      <wsdl:input name="Send_HTML_Mail_And_Attachments_With_Server_Parameters" message="tns:Send_HTML_Mail_And_Attachments_With_Server_ParametersSoapIn" />
      <wsdl:output name="Send_HTML_Mail_And_Attachments_With_Server_Parameters" message="tns:Send_HTML_Mail_And_Attachments_With_Server_ParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible For Sending Email.</wsdl:documentation>
      <wsdl:input name="Send_Mail_By_All_Parameters" message="tns:Send_Mail_By_All_ParametersSoapIn" />
      <wsdl:output name="Send_Mail_By_All_Parameters" message="tns:Send_Mail_By_All_ParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible for uploading Files.</wsdl:documentation>
      <wsdl:input name="Upload_File" message="tns:Upload_FileSoapIn" />
      <wsdl:output name="Upload_File" message="tns:Upload_FileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePOP3Emails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will be responsible Receiveing POP3 Emails From Server Inbox.</wsdl:documentation>
      <wsdl:input name="Receive_POP3_Emails" message="tns:Receive_POP3_EmailsSoapIn" />
      <wsdl:output name="Receive_POP3_Emails" message="tns:Receive_POP3_EmailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailerServiceSoap" type="tns:MailerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPlainTextMail">
      <soap:operation soapAction="http://tempuri.org/Send_Plain_Text_Mail_By_Basic_Parameters" style="document" />
      <wsdl:input name="Send_Plain_Text_Mail_By_Basic_Parameters">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Plain_Text_Mail_By_Basic_Parameters">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMailWithAttachments">
      <soap:operation soapAction="http://tempuri.org/Send_Plain_Text_Mail_And_Attachments" style="document" />
      <wsdl:input name="Send_Plain_Text_Mail_And_Attachments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Plain_Text_Mail_And_Attachments">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMail">
      <soap:operation soapAction="http://tempuri.org/Send_HTML_Mail" style="document" />
      <wsdl:input name="Send_HTML_Mail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_HTML_Mail">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMailWithAttachments">
      <soap:operation soapAction="http://tempuri.org/Send_HTML_Mail_And_Attachments" style="document" />
      <wsdl:input name="Send_HTML_Mail_And_Attachments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_HTML_Mail_And_Attachments">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMail">
      <soap:operation soapAction="http://tempuri.org/Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters" style="document" />
      <wsdl:input name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMailWithAttachments">
      <soap:operation soapAction="http://tempuri.org/Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters" style="document" />
      <wsdl:input name="Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMail">
      <soap:operation soapAction="http://tempuri.org/Send_HTML_Mail_With_Server_Parameters" style="document" />
      <wsdl:input name="Send_HTML_Mail_With_Server_Parameters">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_HTML_Mail_With_Server_Parameters">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMailWithAttachments">
      <soap:operation soapAction="http://tempuri.org/Send_HTML_Mail_And_Attachments_With_Server_Parameters" style="document" />
      <wsdl:input name="Send_HTML_Mail_And_Attachments_With_Server_Parameters">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_HTML_Mail_And_Attachments_With_Server_Parameters">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://tempuri.org/Send_Mail_By_All_Parameters" style="document" />
      <wsdl:input name="Send_Mail_By_All_Parameters">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Mail_By_All_Parameters">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/Upload_File" style="document" />
      <wsdl:input name="Upload_File">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Upload_File">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePOP3Emails">
      <soap:operation soapAction="http://tempuri.org/Receive_POP3_Emails" style="document" />
      <wsdl:input name="Receive_POP3_Emails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Receive_POP3_Emails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailerServiceSoap12" type="tns:MailerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPlainTextMail">
      <soap12:operation soapAction="http://tempuri.org/Send_Plain_Text_Mail_By_Basic_Parameters" style="document" />
      <wsdl:input name="Send_Plain_Text_Mail_By_Basic_Parameters">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Plain_Text_Mail_By_Basic_Parameters">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMailWithAttachments">
      <soap12:operation soapAction="http://tempuri.org/Send_Plain_Text_Mail_And_Attachments" style="document" />
      <wsdl:input name="Send_Plain_Text_Mail_And_Attachments">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Plain_Text_Mail_And_Attachments">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMail">
      <soap12:operation soapAction="http://tempuri.org/Send_HTML_Mail" style="document" />
      <wsdl:input name="Send_HTML_Mail">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_HTML_Mail">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMailWithAttachments">
      <soap12:operation soapAction="http://tempuri.org/Send_HTML_Mail_And_Attachments" style="document" />
      <wsdl:input name="Send_HTML_Mail_And_Attachments">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_HTML_Mail_And_Attachments">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMail">
      <soap12:operation soapAction="http://tempuri.org/Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters" style="document" />
      <wsdl:input name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Plain_Text_Mail_By_Basic_Parameters_With_Server_Parameters">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPlainTextMailWithAttachments">
      <soap12:operation soapAction="http://tempuri.org/Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters" style="document" />
      <wsdl:input name="Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Plain_Text_Mail_And_Attachments_With_Server_Parameters">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMail">
      <soap12:operation soapAction="http://tempuri.org/Send_HTML_Mail_With_Server_Parameters" style="document" />
      <wsdl:input name="Send_HTML_Mail_With_Server_Parameters">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_HTML_Mail_With_Server_Parameters">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHTMLMailWithAttachments">
      <soap12:operation soapAction="http://tempuri.org/Send_HTML_Mail_And_Attachments_With_Server_Parameters" style="document" />
      <wsdl:input name="Send_HTML_Mail_And_Attachments_With_Server_Parameters">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_HTML_Mail_And_Attachments_With_Server_Parameters">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/Send_Mail_By_All_Parameters" style="document" />
      <wsdl:input name="Send_Mail_By_All_Parameters">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Send_Mail_By_All_Parameters">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/Upload_File" style="document" />
      <wsdl:input name="Upload_File">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Upload_File">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePOP3Emails">
      <soap12:operation soapAction="http://tempuri.org/Receive_POP3_Emails" style="document" />
      <wsdl:input name="Receive_POP3_Emails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Receive_POP3_Emails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailerService">
    <wsdl:port name="MailerServiceSoap" binding="tns:MailerServiceSoap">
      <soap:address location="http://accountability/TSNMailer/MailerService.asmx" />
    </wsdl:port>
    <wsdl:port name="MailerServiceSoap12" binding="tns:MailerServiceSoap12">
      <soap12:address location="http://accountability/TSNMailer/MailerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>