Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/TaskWS/TasksService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewTasks">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTasksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="AddTaskToProjectFromPDMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskDescrption" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTaskToProjectFromPDMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTaskToProjectFromPDMSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTaskResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDayOff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDayOffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDayOffResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTaskResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAllTasks">
        <s:complexType />
      </s:element>
      <s:element name="ViewAllTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewAllTasksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewTaskResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LastUpdatedTasks">
        <s:complexType />
      </s:element>
      <s:element name="LastUpdatedTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LastUpdatedTasksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewTaskByProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewTaskByProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewTaskByProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompleteTaskResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteTaskWithNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TaskBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteTaskWithNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompleteTaskWithNoteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteTaskFromPDMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteTaskFromPDMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompleteTaskFromPDMSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDaysOffTasks">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDaysOffTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDaysOffTasksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDayOffTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewTasks">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDayOffTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDayOffTasksResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAssignmentTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAssignmentTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewAssignmentTaskResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAssignmentTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dsTsk">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAssignmentTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAssignmentTaskResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRespOpenTasksCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsibilityID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRespOpenTasksCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRespOpenTasksCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTaskNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="taskID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="noteBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTaskNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetTaskNoteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssginTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TaskId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ResponsID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssginTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssginTaskResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssginTaskWith2Parameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TaskId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssginTaskWith2ParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssginTaskWith2ParametersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssginTaskWithDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssginTaskWithDataSetResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAllAssignments">
        <s:complexType />
      </s:element>
      <s:element name="ViewAllAssignmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewAllAssignmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAssignmentData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAssignmentDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewAssignmentDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewEmployeeAssignments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewEmployeeAssignmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewEmployeeAssignmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAssignmentPriority">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AssPriority" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAssignmentPriorityResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangeResponsbility">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NewResponseID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeResponsbilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeResponsbilityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllAssignmentTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllAssignmentTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllAssignmentTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssignmentTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="assTrx">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssignmentTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAssignmentTransactionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ApproveAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RejectAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReassignedAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReassignedAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReassignedAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestToCloseAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestToCloseAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestToCloseAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOngoingAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOngoingAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetOngoingAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CloseAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OpenAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxAssTransDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxAssTransDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxAssTransDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetERPSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTasksSoapIn">
    <wsdl:part name="parameters" element="tns:AddTasks" />
  </wsdl:message>
  <wsdl:message name="AddTasksSoapOut">
    <wsdl:part name="parameters" element="tns:AddTasksResponse" />
  </wsdl:message>
  <wsdl:message name="AddTasksAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddTaskToProjectFromPDMSSoapIn">
    <wsdl:part name="parameters" element="tns:AddTaskToProjectFromPDMS" />
  </wsdl:message>
  <wsdl:message name="AddTaskToProjectFromPDMSSoapOut">
    <wsdl:part name="parameters" element="tns:AddTaskToProjectFromPDMSResponse" />
  </wsdl:message>
  <wsdl:message name="AddTaskToProjectFromPDMSAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTask" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateDayOffSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDayOff" />
  </wsdl:message>
  <wsdl:message name="UpdateDayOffSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDayOffResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDayOffAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewAllTasksSoapIn">
    <wsdl:part name="parameters" element="tns:ViewAllTasks" />
  </wsdl:message>
  <wsdl:message name="ViewAllTasksSoapOut">
    <wsdl:part name="parameters" element="tns:ViewAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ViewAllTasksAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewTaskSoapIn">
    <wsdl:part name="parameters" element="tns:ViewTask" />
  </wsdl:message>
  <wsdl:message name="ViewTaskSoapOut">
    <wsdl:part name="parameters" element="tns:ViewTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ViewTaskAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="LastUpdatedTasksSoapIn">
    <wsdl:part name="parameters" element="tns:LastUpdatedTasks" />
  </wsdl:message>
  <wsdl:message name="LastUpdatedTasksSoapOut">
    <wsdl:part name="parameters" element="tns:LastUpdatedTasksResponse" />
  </wsdl:message>
  <wsdl:message name="LastUpdatedTasksAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewTaskByProjectSoapIn">
    <wsdl:part name="parameters" element="tns:ViewTaskByProject" />
  </wsdl:message>
  <wsdl:message name="ViewTaskByProjectSoapOut">
    <wsdl:part name="parameters" element="tns:ViewTaskByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ViewTaskByProjectAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteTask" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskWithNoteSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteTaskWithNote" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskWithNoteSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteTaskWithNoteResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskWithNoteAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskFromPDMSSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteTaskFromPDMS" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskFromPDMSSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteTaskFromPDMSResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteTaskFromPDMSAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetAllDaysOffTasksSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDaysOffTasks" />
  </wsdl:message>
  <wsdl:message name="GetAllDaysOffTasksSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDaysOffTasksResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDaysOffTasksAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddDayOffTasksSoapIn">
    <wsdl:part name="parameters" element="tns:AddDayOffTasks" />
  </wsdl:message>
  <wsdl:message name="AddDayOffTasksSoapOut">
    <wsdl:part name="parameters" element="tns:AddDayOffTasksResponse" />
  </wsdl:message>
  <wsdl:message name="AddDayOffTasksAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewAssignmentTaskSoapIn">
    <wsdl:part name="parameters" element="tns:ViewAssignmentTask" />
  </wsdl:message>
  <wsdl:message name="ViewAssignmentTaskSoapOut">
    <wsdl:part name="parameters" element="tns:ViewAssignmentTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ViewAssignmentTaskAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateAssignmentTaskSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAssignmentTask" />
  </wsdl:message>
  <wsdl:message name="UpdateAssignmentTaskSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAssignmentTaskResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAssignmentTaskAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetRespOpenTasksCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetRespOpenTasksCount" />
  </wsdl:message>
  <wsdl:message name="GetRespOpenTasksCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetRespOpenTasksCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetRespOpenTasksCountAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SetTaskNoteSoapIn">
    <wsdl:part name="parameters" element="tns:SetTaskNote" />
  </wsdl:message>
  <wsdl:message name="SetTaskNoteSoapOut">
    <wsdl:part name="parameters" element="tns:SetTaskNoteResponse" />
  </wsdl:message>
  <wsdl:message name="SetTaskNoteAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AssginTaskSoapIn">
    <wsdl:part name="parameters" element="tns:AssginTask" />
  </wsdl:message>
  <wsdl:message name="AssginTaskSoapOut">
    <wsdl:part name="parameters" element="tns:AssginTaskResponse" />
  </wsdl:message>
  <wsdl:message name="AssginTaskAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AssginTaskWith2ParametersSoapIn">
    <wsdl:part name="parameters" element="tns:AssginTaskWith2Parameters" />
  </wsdl:message>
  <wsdl:message name="AssginTaskWith2ParametersSoapOut">
    <wsdl:part name="parameters" element="tns:AssginTaskWith2ParametersResponse" />
  </wsdl:message>
  <wsdl:message name="AssginTaskWith2ParametersAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AssginTaskWithDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:AssginTaskWithDataSet" />
  </wsdl:message>
  <wsdl:message name="AssginTaskWithDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:AssginTaskWithDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="AssginTaskWithDataSetAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAssignment" />
  </wsdl:message>
  <wsdl:message name="DeleteAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewAllAssignmentsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewAllAssignments" />
  </wsdl:message>
  <wsdl:message name="ViewAllAssignmentsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewAllAssignmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ViewAllAssignmentsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewAssignmentDataSoapIn">
    <wsdl:part name="parameters" element="tns:ViewAssignmentData" />
  </wsdl:message>
  <wsdl:message name="ViewAssignmentDataSoapOut">
    <wsdl:part name="parameters" element="tns:ViewAssignmentDataResponse" />
  </wsdl:message>
  <wsdl:message name="ViewAssignmentDataAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewEmployeeAssignmentsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewEmployeeAssignments" />
  </wsdl:message>
  <wsdl:message name="ViewEmployeeAssignmentsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewEmployeeAssignmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ViewEmployeeAssignmentsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateAssignmentPrioritySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAssignmentPriority" />
  </wsdl:message>
  <wsdl:message name="UpdateAssignmentPrioritySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAssignmentPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAssignmentPriorityAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ChangeResponsbilitySoapIn">
    <wsdl:part name="parameters" element="tns:ChangeResponsbility" />
  </wsdl:message>
  <wsdl:message name="ChangeResponsbilitySoapOut">
    <wsdl:part name="parameters" element="tns:ChangeResponsbilityResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeResponsbilityAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllAssignmentTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllAssignmentTransactions" />
  </wsdl:message>
  <wsdl:message name="ListAllAssignmentTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllAssignmentTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllAssignmentTransactionsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddAssignmentTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:AddAssignmentTransaction" />
  </wsdl:message>
  <wsdl:message name="AddAssignmentTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:AddAssignmentTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="AddAssignmentTransactionAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ApproveAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:ApproveAssignment" />
  </wsdl:message>
  <wsdl:message name="ApproveAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RejectAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:RejectAssignment" />
  </wsdl:message>
  <wsdl:message name="RejectAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:RejectAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="RejectAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ReassignedAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:ReassignedAssignment" />
  </wsdl:message>
  <wsdl:message name="ReassignedAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:ReassignedAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="ReassignedAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CancelAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:CancelAssignment" />
  </wsdl:message>
  <wsdl:message name="CancelAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:CancelAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="CancelAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RequestToCloseAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:RequestToCloseAssignment" />
  </wsdl:message>
  <wsdl:message name="RequestToCloseAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:RequestToCloseAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="RequestToCloseAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SetOngoingAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:SetOngoingAssignment" />
  </wsdl:message>
  <wsdl:message name="SetOngoingAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:SetOngoingAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="SetOngoingAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CloseAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:CloseAssignment" />
  </wsdl:message>
  <wsdl:message name="CloseAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:CloseAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="CloseAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="OpenAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:OpenAssignment" />
  </wsdl:message>
  <wsdl:message name="OpenAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:OpenAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="OpenAssignmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetMaxAssTransDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxAssTransDate" />
  </wsdl:message>
  <wsdl:message name="GetMaxAssTransDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxAssTransDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxAssTransDateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPSession" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="TasksServiceSoap">
    <wsdl:operation name="AddTasks">
      <wsdl:input message="tns:AddTasksSoapIn" />
      <wsdl:output message="tns:AddTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTaskToProjectFromPDMS">
      <wsdl:input message="tns:AddTaskToProjectFromPDMSSoapIn" />
      <wsdl:output message="tns:AddTaskToProjectFromPDMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input message="tns:UpdateTaskSoapIn" />
      <wsdl:output message="tns:UpdateTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDayOff">
      <wsdl:input message="tns:UpdateDayOffSoapIn" />
      <wsdl:output message="tns:UpdateDayOffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input message="tns:DeleteTaskSoapIn" />
      <wsdl:output message="tns:DeleteTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllTasks">
      <wsdl:input message="tns:ViewAllTasksSoapIn" />
      <wsdl:output message="tns:ViewAllTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewTask">
      <wsdl:input message="tns:ViewTaskSoapIn" />
      <wsdl:output message="tns:ViewTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LastUpdatedTasks">
      <wsdl:input message="tns:LastUpdatedTasksSoapIn" />
      <wsdl:output message="tns:LastUpdatedTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewTaskByProject">
      <wsdl:input message="tns:ViewTaskByProjectSoapIn" />
      <wsdl:output message="tns:ViewTaskByProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteTask">
      <wsdl:input message="tns:CompleteTaskSoapIn" />
      <wsdl:output message="tns:CompleteTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteTask">
      <wsdl:input name="CompleteTaskWithNote" message="tns:CompleteTaskWithNoteSoapIn" />
      <wsdl:output name="CompleteTaskWithNote" message="tns:CompleteTaskWithNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteTaskInProjFromPDMS">
      <wsdl:input name="CompleteTaskFromPDMS" message="tns:CompleteTaskFromPDMSSoapIn" />
      <wsdl:output name="CompleteTaskFromPDMS" message="tns:CompleteTaskFromPDMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDaysOffTasks">
      <wsdl:input message="tns:GetAllDaysOffTasksSoapIn" />
      <wsdl:output message="tns:GetAllDaysOffTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDayOffTasks">
      <wsdl:input message="tns:AddDayOffTasksSoapIn" />
      <wsdl:output message="tns:AddDayOffTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAssignmentTask">
      <wsdl:input message="tns:ViewAssignmentTaskSoapIn" />
      <wsdl:output message="tns:ViewAssignmentTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAssignmentTask">
      <wsdl:input message="tns:UpdateAssignmentTaskSoapIn" />
      <wsdl:output message="tns:UpdateAssignmentTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRespOpenTasksCount">
      <wsdl:input message="tns:GetRespOpenTasksCountSoapIn" />
      <wsdl:output message="tns:GetRespOpenTasksCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTaskNote">
      <wsdl:input message="tns:SetTaskNoteSoapIn" />
      <wsdl:output message="tns:SetTaskNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <wsdl:input message="tns:AssginTaskSoapIn" />
      <wsdl:output message="tns:AssginTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <wsdl:input name="AssginTaskWith2Parameters" message="tns:AssginTaskWith2ParametersSoapIn" />
      <wsdl:output name="AssginTaskWith2Parameters" message="tns:AssginTaskWith2ParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <wsdl:input name="AssginTaskWithDataSet" message="tns:AssginTaskWithDataSetSoapIn" />
      <wsdl:output name="AssginTaskWithDataSet" message="tns:AssginTaskWithDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAssignment">
      <wsdl:input message="tns:DeleteAssignmentSoapIn" />
      <wsdl:output message="tns:DeleteAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllAssignments">
      <wsdl:input message="tns:ViewAllAssignmentsSoapIn" />
      <wsdl:output message="tns:ViewAllAssignmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAssignmentData">
      <wsdl:input message="tns:ViewAssignmentDataSoapIn" />
      <wsdl:output message="tns:ViewAssignmentDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewEmployeeAssignments">
      <wsdl:input message="tns:ViewEmployeeAssignmentsSoapIn" />
      <wsdl:output message="tns:ViewEmployeeAssignmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAssignmentPriority">
      <wsdl:input message="tns:UpdateAssignmentPrioritySoapIn" />
      <wsdl:output message="tns:UpdateAssignmentPrioritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeResponsbility">
      <wsdl:input message="tns:ChangeResponsbilitySoapIn" />
      <wsdl:output message="tns:ChangeResponsbilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllAssignmentTransactions">
      <wsdl:input message="tns:ListAllAssignmentTransactionsSoapIn" />
      <wsdl:output message="tns:ListAllAssignmentTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAssignmentTransaction">
      <wsdl:input message="tns:AddAssignmentTransactionSoapIn" />
      <wsdl:output message="tns:AddAssignmentTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApproveAssignment">
      <wsdl:input message="tns:ApproveAssignmentSoapIn" />
      <wsdl:output message="tns:ApproveAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectAssignment">
      <wsdl:input message="tns:RejectAssignmentSoapIn" />
      <wsdl:output message="tns:RejectAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReassignedAssignment">
      <wsdl:input message="tns:ReassignedAssignmentSoapIn" />
      <wsdl:output message="tns:ReassignedAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelAssignment">
      <wsdl:input message="tns:CancelAssignmentSoapIn" />
      <wsdl:output message="tns:CancelAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestToCloseAssignment">
      <wsdl:input message="tns:RequestToCloseAssignmentSoapIn" />
      <wsdl:output message="tns:RequestToCloseAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetOngoingAssignment">
      <wsdl:input message="tns:SetOngoingAssignmentSoapIn" />
      <wsdl:output message="tns:SetOngoingAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseAssignment">
      <wsdl:input message="tns:CloseAssignmentSoapIn" />
      <wsdl:output message="tns:CloseAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenAssignment">
      <wsdl:input message="tns:OpenAssignmentSoapIn" />
      <wsdl:output message="tns:OpenAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxAssTransDate">
      <wsdl:input message="tns:GetMaxAssTransDateSoapIn" />
      <wsdl:output message="tns:GetMaxAssTransDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <wsdl:input message="tns:GetERPSessionSoapIn" />
      <wsdl:output message="tns:GetERPSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TasksServiceSoap" type="tns:TasksServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTasks">
      <soap:operation soapAction="http://tempuri.org/AddTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTaskToProjectFromPDMS">
      <soap:operation soapAction="http://tempuri.org/AddTaskToProjectFromPDMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddTaskToProjectFromPDMSAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap:operation soapAction="http://tempuri.org/UpdateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDayOff">
      <soap:operation soapAction="http://tempuri.org/UpdateDayOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateDayOffAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllTasks">
      <soap:operation soapAction="http://tempuri.org/ViewAllTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewAllTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewTask">
      <soap:operation soapAction="http://tempuri.org/ViewTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastUpdatedTasks">
      <soap:operation soapAction="http://tempuri.org/LastUpdatedTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LastUpdatedTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewTaskByProject">
      <soap:operation soapAction="http://tempuri.org/ViewTaskByProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewTaskByProjectAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTask">
      <soap:operation soapAction="http://tempuri.org/CompleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CompleteTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTask">
      <soap:operation soapAction="http://tempuri.org/CompleteTaskWithNote" style="document" />
      <wsdl:input name="CompleteTaskWithNote">
        <soap:body use="literal" />
        <soap:header message="tns:CompleteTaskWithNoteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="CompleteTaskWithNote">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTaskInProjFromPDMS">
      <soap:operation soapAction="http://tempuri.org/CompleteTaskFromPDMS" style="document" />
      <wsdl:input name="CompleteTaskFromPDMS">
        <soap:body use="literal" />
        <soap:header message="tns:CompleteTaskFromPDMSAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="CompleteTaskFromPDMS">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDaysOffTasks">
      <soap:operation soapAction="http://tempuri.org/GetAllDaysOffTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAllDaysOffTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDayOffTasks">
      <soap:operation soapAction="http://tempuri.org/AddDayOffTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddDayOffTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAssignmentTask">
      <soap:operation soapAction="http://tempuri.org/ViewAssignmentTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewAssignmentTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAssignmentTask">
      <soap:operation soapAction="http://tempuri.org/UpdateAssignmentTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateAssignmentTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRespOpenTasksCount">
      <soap:operation soapAction="http://tempuri.org/GetRespOpenTasksCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRespOpenTasksCountAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTaskNote">
      <soap:operation soapAction="http://tempuri.org/SetTaskNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetTaskNoteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <soap:operation soapAction="http://tempuri.org/AssginTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AssginTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <soap:operation soapAction="http://tempuri.org/AssginTaskWith2Parameters" style="document" />
      <wsdl:input name="AssginTaskWith2Parameters">
        <soap:body use="literal" />
        <soap:header message="tns:AssginTaskWith2ParametersAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="AssginTaskWith2Parameters">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <soap:operation soapAction="http://tempuri.org/AssginTaskWithDataSet" style="document" />
      <wsdl:input name="AssginTaskWithDataSet">
        <soap:body use="literal" />
        <soap:header message="tns:AssginTaskWithDataSetAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="AssginTaskWithDataSet">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAssignment">
      <soap:operation soapAction="http://tempuri.org/DeleteAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllAssignments">
      <soap:operation soapAction="http://tempuri.org/ViewAllAssignments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewAllAssignmentsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAssignmentData">
      <soap:operation soapAction="http://tempuri.org/ViewAssignmentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewAssignmentDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewEmployeeAssignments">
      <soap:operation soapAction="http://tempuri.org/ViewEmployeeAssignments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewEmployeeAssignmentsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAssignmentPriority">
      <soap:operation soapAction="http://tempuri.org/UpdateAssignmentPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateAssignmentPriorityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeResponsbility">
      <soap:operation soapAction="http://tempuri.org/ChangeResponsbility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ChangeResponsbilityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllAssignmentTransactions">
      <soap:operation soapAction="http://tempuri.org/ListAllAssignmentTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllAssignmentTransactionsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssignmentTransaction">
      <soap:operation soapAction="http://tempuri.org/AddAssignmentTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddAssignmentTransactionAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveAssignment">
      <soap:operation soapAction="http://tempuri.org/ApproveAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ApproveAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectAssignment">
      <soap:operation soapAction="http://tempuri.org/RejectAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RejectAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReassignedAssignment">
      <soap:operation soapAction="http://tempuri.org/ReassignedAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ReassignedAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelAssignment">
      <soap:operation soapAction="http://tempuri.org/CancelAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CancelAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestToCloseAssignment">
      <soap:operation soapAction="http://tempuri.org/RequestToCloseAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestToCloseAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOngoingAssignment">
      <soap:operation soapAction="http://tempuri.org/SetOngoingAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetOngoingAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseAssignment">
      <soap:operation soapAction="http://tempuri.org/CloseAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CloseAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenAssignment">
      <soap:operation soapAction="http://tempuri.org/OpenAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:OpenAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxAssTransDate">
      <soap:operation soapAction="http://tempuri.org/GetMaxAssTransDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMaxAssTransDateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TasksServiceSoap12" type="tns:TasksServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTasks">
      <soap12:operation soapAction="http://tempuri.org/AddTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTaskToProjectFromPDMS">
      <soap12:operation soapAction="http://tempuri.org/AddTaskToProjectFromPDMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddTaskToProjectFromPDMSAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap12:operation soapAction="http://tempuri.org/UpdateTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDayOff">
      <soap12:operation soapAction="http://tempuri.org/UpdateDayOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateDayOffAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap12:operation soapAction="http://tempuri.org/DeleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllTasks">
      <soap12:operation soapAction="http://tempuri.org/ViewAllTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewAllTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewTask">
      <soap12:operation soapAction="http://tempuri.org/ViewTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastUpdatedTasks">
      <soap12:operation soapAction="http://tempuri.org/LastUpdatedTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LastUpdatedTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewTaskByProject">
      <soap12:operation soapAction="http://tempuri.org/ViewTaskByProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewTaskByProjectAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTask">
      <soap12:operation soapAction="http://tempuri.org/CompleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CompleteTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTask">
      <soap12:operation soapAction="http://tempuri.org/CompleteTaskWithNote" style="document" />
      <wsdl:input name="CompleteTaskWithNote">
        <soap12:body use="literal" />
        <soap12:header message="tns:CompleteTaskWithNoteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="CompleteTaskWithNote">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTaskInProjFromPDMS">
      <soap12:operation soapAction="http://tempuri.org/CompleteTaskFromPDMS" style="document" />
      <wsdl:input name="CompleteTaskFromPDMS">
        <soap12:body use="literal" />
        <soap12:header message="tns:CompleteTaskFromPDMSAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="CompleteTaskFromPDMS">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDaysOffTasks">
      <soap12:operation soapAction="http://tempuri.org/GetAllDaysOffTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAllDaysOffTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDayOffTasks">
      <soap12:operation soapAction="http://tempuri.org/AddDayOffTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddDayOffTasksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAssignmentTask">
      <soap12:operation soapAction="http://tempuri.org/ViewAssignmentTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewAssignmentTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAssignmentTask">
      <soap12:operation soapAction="http://tempuri.org/UpdateAssignmentTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateAssignmentTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRespOpenTasksCount">
      <soap12:operation soapAction="http://tempuri.org/GetRespOpenTasksCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRespOpenTasksCountAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTaskNote">
      <soap12:operation soapAction="http://tempuri.org/SetTaskNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetTaskNoteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <soap12:operation soapAction="http://tempuri.org/AssginTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AssginTaskAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <soap12:operation soapAction="http://tempuri.org/AssginTaskWith2Parameters" style="document" />
      <wsdl:input name="AssginTaskWith2Parameters">
        <soap12:body use="literal" />
        <soap12:header message="tns:AssginTaskWith2ParametersAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="AssginTaskWith2Parameters">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssginTask">
      <soap12:operation soapAction="http://tempuri.org/AssginTaskWithDataSet" style="document" />
      <wsdl:input name="AssginTaskWithDataSet">
        <soap12:body use="literal" />
        <soap12:header message="tns:AssginTaskWithDataSetAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="AssginTaskWithDataSet">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAssignment">
      <soap12:operation soapAction="http://tempuri.org/DeleteAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllAssignments">
      <soap12:operation soapAction="http://tempuri.org/ViewAllAssignments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewAllAssignmentsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAssignmentData">
      <soap12:operation soapAction="http://tempuri.org/ViewAssignmentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewAssignmentDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewEmployeeAssignments">
      <soap12:operation soapAction="http://tempuri.org/ViewEmployeeAssignments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewEmployeeAssignmentsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAssignmentPriority">
      <soap12:operation soapAction="http://tempuri.org/UpdateAssignmentPriority" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateAssignmentPriorityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeResponsbility">
      <soap12:operation soapAction="http://tempuri.org/ChangeResponsbility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangeResponsbilityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllAssignmentTransactions">
      <soap12:operation soapAction="http://tempuri.org/ListAllAssignmentTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllAssignmentTransactionsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssignmentTransaction">
      <soap12:operation soapAction="http://tempuri.org/AddAssignmentTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddAssignmentTransactionAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveAssignment">
      <soap12:operation soapAction="http://tempuri.org/ApproveAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ApproveAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectAssignment">
      <soap12:operation soapAction="http://tempuri.org/RejectAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RejectAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReassignedAssignment">
      <soap12:operation soapAction="http://tempuri.org/ReassignedAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReassignedAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelAssignment">
      <soap12:operation soapAction="http://tempuri.org/CancelAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CancelAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestToCloseAssignment">
      <soap12:operation soapAction="http://tempuri.org/RequestToCloseAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RequestToCloseAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOngoingAssignment">
      <soap12:operation soapAction="http://tempuri.org/SetOngoingAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetOngoingAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseAssignment">
      <soap12:operation soapAction="http://tempuri.org/CloseAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CloseAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenAssignment">
      <soap12:operation soapAction="http://tempuri.org/OpenAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:OpenAssignmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxAssTransDate">
      <soap12:operation soapAction="http://tempuri.org/GetMaxAssTransDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMaxAssTransDateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap12:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TasksService">
    <wsdl:port name="TasksServiceSoap" binding="tns:TasksServiceSoap">
      <soap:address location="http://localhost/Accountability_WS/TasksService.asmx" />
    </wsdl:port>
    <wsdl:port name="TasksServiceSoap12" binding="tns:TasksServiceSoap12">
      <soap12:address location="http://localhost/Accountability_WS/TasksService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>