Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/TeamsWS/TeamsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddTeams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newTeams">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTeamsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="EditTeams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editedTeams">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditTeamsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTeams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteTeams">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTeamsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTeams">
        <s:complexType />
      </s:element>
      <s:element name="ListTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListTeamsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TeamId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListTeamResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTeamEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TeamID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTeamEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListTeamEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeeToTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TeamID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeeToTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEmployeeToTeamResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveEmployeeFromTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TeamID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveEmployeeFromTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveEmployeeFromTeamResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetERPSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:AddTeams" />
  </wsdl:message>
  <wsdl:message name="AddTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:AddTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="AddTeamsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="EditTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:EditTeams" />
  </wsdl:message>
  <wsdl:message name="EditTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:EditTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="EditTeamsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTeams" />
  </wsdl:message>
  <wsdl:message name="DeleteTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTeamsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:ListTeams" />
  </wsdl:message>
  <wsdl:message name="ListTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:ListTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="ListTeamsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListTeamSoapIn">
    <wsdl:part name="parameters" element="tns:ListTeam" />
  </wsdl:message>
  <wsdl:message name="ListTeamSoapOut">
    <wsdl:part name="parameters" element="tns:ListTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ListTeamAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListTeamEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:ListTeamEmployees" />
  </wsdl:message>
  <wsdl:message name="ListTeamEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:ListTeamEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="ListTeamEmployeesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeToTeamSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmployeeToTeam" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeToTeamSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmployeeToTeamResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeToTeamAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveEmployeeFromTeamSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveEmployeeFromTeam" />
  </wsdl:message>
  <wsdl:message name="RemoveEmployeeFromTeamSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveEmployeeFromTeamResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveEmployeeFromTeamAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPSession" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="TeamsServiceSoap">
    <wsdl:operation name="AddTeams">
      <wsdl:input message="tns:AddTeamsSoapIn" />
      <wsdl:output message="tns:AddTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditTeams">
      <wsdl:input message="tns:EditTeamsSoapIn" />
      <wsdl:output message="tns:EditTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeams">
      <wsdl:input message="tns:DeleteTeamsSoapIn" />
      <wsdl:output message="tns:DeleteTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListTeams">
      <wsdl:input message="tns:ListTeamsSoapIn" />
      <wsdl:output message="tns:ListTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListTeam">
      <wsdl:input message="tns:ListTeamSoapIn" />
      <wsdl:output message="tns:ListTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListTeamEmployees">
      <wsdl:input message="tns:ListTeamEmployeesSoapIn" />
      <wsdl:output message="tns:ListTeamEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeToTeam">
      <wsdl:input message="tns:AddEmployeeToTeamSoapIn" />
      <wsdl:output message="tns:AddEmployeeToTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployeeFromTeam">
      <wsdl:input message="tns:RemoveEmployeeFromTeamSoapIn" />
      <wsdl:output message="tns:RemoveEmployeeFromTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <wsdl:input message="tns:GetERPSessionSoapIn" />
      <wsdl:output message="tns:GetERPSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeamsServiceSoap" type="tns:TeamsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTeams">
      <soap:operation soapAction="http://tempuri.org/AddTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddTeamsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTeams">
      <soap:operation soapAction="http://tempuri.org/EditTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EditTeamsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeams">
      <soap:operation soapAction="http://tempuri.org/DeleteTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteTeamsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTeams">
      <soap:operation soapAction="http://tempuri.org/ListTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListTeamsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTeam">
      <soap:operation soapAction="http://tempuri.org/ListTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListTeamAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTeamEmployees">
      <soap:operation soapAction="http://tempuri.org/ListTeamEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListTeamEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeToTeam">
      <soap:operation soapAction="http://tempuri.org/AddEmployeeToTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddEmployeeToTeamAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployeeFromTeam">
      <soap:operation soapAction="http://tempuri.org/RemoveEmployeeFromTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveEmployeeFromTeamAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TeamsServiceSoap12" type="tns:TeamsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTeams">
      <soap12:operation soapAction="http://tempuri.org/AddTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddTeamsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTeams">
      <soap12:operation soapAction="http://tempuri.org/EditTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EditTeamsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeams">
      <soap12:operation soapAction="http://tempuri.org/DeleteTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteTeamsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTeams">
      <soap12:operation soapAction="http://tempuri.org/ListTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListTeamsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTeam">
      <soap12:operation soapAction="http://tempuri.org/ListTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListTeamAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTeamEmployees">
      <soap12:operation soapAction="http://tempuri.org/ListTeamEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListTeamEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeToTeam">
      <soap12:operation soapAction="http://tempuri.org/AddEmployeeToTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddEmployeeToTeamAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployeeFromTeam">
      <soap12:operation soapAction="http://tempuri.org/RemoveEmployeeFromTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveEmployeeFromTeamAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap12:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamsService">
    <wsdl:port name="TeamsServiceSoap" binding="tns:TeamsServiceSoap">
      <soap:address location="http://localhost/Accountability_WS/TeamsService.asmx" />
    </wsdl:port>
    <wsdl:port name="TeamsServiceSoap12" binding="tns:TeamsServiceSoap12">
      <soap12:address location="http://localhost/Accountability_WS/TeamsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>