AccountabilityNotePad/AccountabilityNotePad/AccountabilityNotePad/Web References/FileAccess/FileAccessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateTempFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTempFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateTempFolderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUpdateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUpdateFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckUpdateMode">
        <s:complexType />
      </s:element>
      <s:element name="CheckUpdateModeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMultipleFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateMode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReloadUsers" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMultipleFilesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUpdateMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateModeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SerivceTimerListener">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SerivceTimerListenerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SerivceTimerListenerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateTempFolderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTempFolder" />
  </wsdl:message>
  <wsdl:message name="CreateTempFolderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTempFolderResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUpdateFileSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUpdateFile" />
  </wsdl:message>
  <wsdl:message name="RemoveUpdateFileSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUpdateFileResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUpdateModeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUpdateMode" />
  </wsdl:message>
  <wsdl:message name="CheckUpdateModeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUpdateModeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMultipleFilesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMultipleFiles" />
  </wsdl:message>
  <wsdl:message name="UpdateMultipleFilesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMultipleFilesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateModeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateMode" />
  </wsdl:message>
  <wsdl:message name="GetUpdateModeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateModeResponse" />
  </wsdl:message>
  <wsdl:message name="SerivceTimerListenerSoapIn">
    <wsdl:part name="parameters" element="tns:SerivceTimerListener" />
  </wsdl:message>
  <wsdl:message name="SerivceTimerListenerSoapOut">
    <wsdl:part name="parameters" element="tns:SerivceTimerListenerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="FileAccessServiceSoap">
    <wsdl:operation name="CreateTempFolder">
      <wsdl:input message="tns:CreateTempFolderSoapIn" />
      <wsdl:output message="tns:CreateTempFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUpdateFile">
      <wsdl:input message="tns:RemoveUpdateFileSoapIn" />
      <wsdl:output message="tns:RemoveUpdateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateMode">
      <wsdl:input message="tns:CheckUpdateModeSoapIn" />
      <wsdl:output message="tns:CheckUpdateModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMultipleFiles">
      <wsdl:input message="tns:UpdateMultipleFilesSoapIn" />
      <wsdl:output message="tns:UpdateMultipleFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMode">
      <wsdl:input message="tns:GetUpdateModeSoapIn" />
      <wsdl:output message="tns:GetUpdateModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SerivceTimerListener">
      <wsdl:input message="tns:SerivceTimerListenerSoapIn" />
      <wsdl:output message="tns:SerivceTimerListenerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileAccessServiceSoap" type="tns:FileAccessServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTempFolder">
      <soap:operation soapAction="http://tempuri.org/CreateTempFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUpdateFile">
      <soap:operation soapAction="http://tempuri.org/RemoveUpdateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateMode">
      <soap:operation soapAction="http://tempuri.org/CheckUpdateMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMultipleFiles">
      <soap:operation soapAction="http://tempuri.org/UpdateMultipleFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMode">
      <soap:operation soapAction="http://tempuri.org/GetUpdateMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerivceTimerListener">
      <soap:operation soapAction="http://tempuri.org/SerivceTimerListener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileAccessServiceSoap12" type="tns:FileAccessServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTempFolder">
      <soap12:operation soapAction="http://tempuri.org/CreateTempFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUpdateFile">
      <soap12:operation soapAction="http://tempuri.org/RemoveUpdateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateMode">
      <soap12:operation soapAction="http://tempuri.org/CheckUpdateMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMultipleFiles">
      <soap12:operation soapAction="http://tempuri.org/UpdateMultipleFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateMode">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerivceTimerListener">
      <soap12:operation soapAction="http://tempuri.org/SerivceTimerListener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileAccessService">
    <wsdl:port name="FileAccessServiceSoap" binding="tns:FileAccessServiceSoap">
      <soap:address location="http://localhost:4717/FileAccessService.asmx" />
    </wsdl:port>
    <wsdl:port name="FileAccessServiceSoap12" binding="tns:FileAccessServiceSoap12">
      <soap12:address location="http://localhost:4717/FileAccessService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>