4A-Pharma [TFS_Bugs]/4A-Pharma/4A-Pharma/App_WebReferences/testprocuct/FMTServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CallSpecificFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FunctionData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallSpecificFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallSpecificFunctionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CallSpecificFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:CallSpecificFunction" />
  </wsdl:message>
  <wsdl:message name="CallSpecificFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:CallSpecificFunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="FMTServicesSoap">
    <wsdl:operation name="CallSpecificFunction">
      <wsdl:input message="tns:CallSpecificFunctionSoapIn" />
      <wsdl:output message="tns:CallSpecificFunctionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FMTServicesSoap" type="tns:FMTServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallSpecificFunction">
      <soap:operation soapAction="http://tempuri.org/CallSpecificFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FMTServicesSoap12" type="tns:FMTServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallSpecificFunction">
      <soap12:operation soapAction="http://tempuri.org/CallSpecificFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FMTServices">
    <wsdl:port name="FMTServicesSoap" binding="tns:FMTServicesSoap">
      <soap:address location="http://webdev.steelnetwork.com/WebServices/FMTServices.asmx" />
    </wsdl:port>
    <wsdl:port name="FMTServicesSoap12" binding="tns:FMTServicesSoap12">
      <soap12:address location="http://webdev.steelnetwork.com/WebServices/FMTServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>