Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/EmployeesWS/EmployeesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeesData">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEmployeesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="DeleteEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletedEmployees">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteEmployeeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifiedEmployees">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyEmployeeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEmployees">
        <s:complexType />
      </s:element>
      <s:element name="ListEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEmployeesDetailedData">
        <s:complexType />
      </s:element>
      <s:element name="ListEmployeesDetailedDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListEmployeesDetailedDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEmployeesDetailedDataByQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilterString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEmployeesDetailedDataByQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListEmployeesDetailedDataByQueryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListSingleEmployeeData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListSingleEmployeeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListSingleEmployeeDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEmployeeSummarizedData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEmployeeSummarizedDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListEmployeeSummarizedDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListActiveEmployees">
        <s:complexType />
      </s:element>
      <s:element name="ListActiveEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListActiveEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTerminatedEmployees">
        <s:complexType />
      </s:element>
      <s:element name="ListTerminatedEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListTerminatedEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerminateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsEmployees">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerminateEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TerminateEmployeeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeesJobTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="JobTitleID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="JobDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeesJobTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEmployeesJobTitleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetERPSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmployees" />
  </wsdl:message>
  <wsdl:message name="AddEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ModifyEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyEmployee" />
  </wsdl:message>
  <wsdl:message name="ModifyEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyEmployeeAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:ListEmployees" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:ListEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesDetailedDataSoapIn">
    <wsdl:part name="parameters" element="tns:ListEmployeesDetailedData" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesDetailedDataSoapOut">
    <wsdl:part name="parameters" element="tns:ListEmployeesDetailedDataResponse" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesDetailedDataAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesDetailedDataByQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ListEmployeesDetailedDataByQuery" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesDetailedDataByQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ListEmployeesDetailedDataByQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ListEmployeesDetailedDataByQueryAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListSingleEmployeeDataSoapIn">
    <wsdl:part name="parameters" element="tns:ListSingleEmployeeData" />
  </wsdl:message>
  <wsdl:message name="ListSingleEmployeeDataSoapOut">
    <wsdl:part name="parameters" element="tns:ListSingleEmployeeDataResponse" />
  </wsdl:message>
  <wsdl:message name="ListSingleEmployeeDataAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListEmployeeSummarizedDataSoapIn">
    <wsdl:part name="parameters" element="tns:ListEmployeeSummarizedData" />
  </wsdl:message>
  <wsdl:message name="ListEmployeeSummarizedDataSoapOut">
    <wsdl:part name="parameters" element="tns:ListEmployeeSummarizedDataResponse" />
  </wsdl:message>
  <wsdl:message name="ListEmployeeSummarizedDataAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListActiveEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:ListActiveEmployees" />
  </wsdl:message>
  <wsdl:message name="ListActiveEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:ListActiveEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="ListActiveEmployeesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListTerminatedEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:ListTerminatedEmployees" />
  </wsdl:message>
  <wsdl:message name="ListTerminatedEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:ListTerminatedEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="ListTerminatedEmployeesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="TerminateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:TerminateEmployee" />
  </wsdl:message>
  <wsdl:message name="TerminateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:TerminateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="TerminateEmployeeAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddEmployeesJobTitleSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmployeesJobTitle" />
  </wsdl:message>
  <wsdl:message name="AddEmployeesJobTitleSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmployeesJobTitleResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeesJobTitleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPSession" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeesServiceSoap">
    <wsdl:operation name="AddEmployees">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add New Employees to the system,takes the employees contact data in a dataset of type (TSN.ERP.SharedComponents.Data.dsContacts ) and the employees data as dataset of type (TSN.ERP.SharedComponents.Data.dsEmployee)</wsdl:documentation>
      <wsdl:input message="tns:AddEmployeesSoapIn" />
      <wsdl:output message="tns:AddEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes an Existing Employee, takes a dataset of type (TSN.ERP.SharedComponents.Data.dsEmployee)</wsdl:documentation>
      <wsdl:input message="tns:DeleteEmployeeSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modifies an Existing Employee, takes a dataset of type (TSN.ERP.SharedComponents.Data.dsEmployee)</wsdl:documentation>
      <wsdl:input message="tns:ModifyEmployeeSoapIn" />
      <wsdl:output message="tns:ModifyEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListEmployees">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List All Employees Data, returns a dataset of type (TSN.ERP.SharedComponents.Data.dsEmployee) </wsdl:documentation>
      <wsdl:input message="tns:ListEmployeesSoapIn" />
      <wsdl:output message="tns:ListEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListEmployeesDetailedData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List All Employees Detailed Data, returns a dataset of type (TSN.ERP.SharedComponents.Data.dsEmployee) </wsdl:documentation>
      <wsdl:input message="tns:ListEmployeesDetailedDataSoapIn" />
      <wsdl:output message="tns:ListEmployeesDetailedDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListEmployeesDetailedData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List All Employees Detailed Data, returns a dataset of type (TSN.ERP.SharedComponents.Data.dsEmployee) </wsdl:documentation>
      <wsdl:input name="ListEmployeesDetailedDataByQuery" message="tns:ListEmployeesDetailedDataByQuerySoapIn" />
      <wsdl:output name="ListEmployeesDetailedDataByQuery" message="tns:ListEmployeesDetailedDataByQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListSingleEmployeeData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Employees Detailed Data for a Single Employee, returns a dataset of type (TSN.ERP.SharedComponents.Data.dsEmployee) </wsdl:documentation>
      <wsdl:input message="tns:ListSingleEmployeeDataSoapIn" />
      <wsdl:output message="tns:ListSingleEmployeeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListEmployeeSummarizedData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Employees Detailed(Job Title Name And Dept Name) Data for a Single Employee, returns a dataset of type (TSN.ERP.SharedComponents.Data.dsEmployee) </wsdl:documentation>
      <wsdl:input message="tns:ListEmployeeSummarizedDataSoapIn" />
      <wsdl:output message="tns:ListEmployeeSummarizedDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListActiveEmployees">
      <wsdl:input message="tns:ListActiveEmployeesSoapIn" />
      <wsdl:output message="tns:ListActiveEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListTerminatedEmployees">
      <wsdl:input message="tns:ListTerminatedEmployeesSoapIn" />
      <wsdl:output message="tns:ListTerminatedEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TerminateEmployee">
      <wsdl:input message="tns:TerminateEmployeeSoapIn" />
      <wsdl:output message="tns:TerminateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployeesJobTitle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add new employee job title to the GEN_EmployeesJobTitles</wsdl:documentation>
      <wsdl:input message="tns:AddEmployeesJobTitleSoapIn" />
      <wsdl:output message="tns:AddEmployeesJobTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <wsdl:input message="tns:GetERPSessionSoapIn" />
      <wsdl:output message="tns:GetERPSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesServiceSoap" type="tns:EmployeesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmployees">
      <soap:operation soapAction="http://tempuri.org/AddEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteEmployeeAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmployee">
      <soap:operation soapAction="http://tempuri.org/ModifyEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyEmployeeAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployees">
      <soap:operation soapAction="http://tempuri.org/ListEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployeesDetailedData">
      <soap:operation soapAction="http://tempuri.org/ListEmployeesDetailedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListEmployeesDetailedDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployeesDetailedData">
      <soap:operation soapAction="http://tempuri.org/ListEmployeesDetailedDataByQuery" style="document" />
      <wsdl:input name="ListEmployeesDetailedDataByQuery">
        <soap:body use="literal" />
        <soap:header message="tns:ListEmployeesDetailedDataByQueryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ListEmployeesDetailedDataByQuery">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSingleEmployeeData">
      <soap:operation soapAction="http://tempuri.org/ListSingleEmployeeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListSingleEmployeeDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployeeSummarizedData">
      <soap:operation soapAction="http://tempuri.org/ListEmployeeSummarizedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListEmployeeSummarizedDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveEmployees">
      <soap:operation soapAction="http://tempuri.org/ListActiveEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListActiveEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTerminatedEmployees">
      <soap:operation soapAction="http://tempuri.org/ListTerminatedEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListTerminatedEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateEmployee">
      <soap:operation soapAction="http://tempuri.org/TerminateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:TerminateEmployeeAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeesJobTitle">
      <soap:operation soapAction="http://tempuri.org/AddEmployeesJobTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddEmployeesJobTitleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeesServiceSoap12" type="tns:EmployeesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmployees">
      <soap12:operation soapAction="http://tempuri.org/AddEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteEmployeeAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmployee">
      <soap12:operation soapAction="http://tempuri.org/ModifyEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyEmployeeAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployees">
      <soap12:operation soapAction="http://tempuri.org/ListEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployeesDetailedData">
      <soap12:operation soapAction="http://tempuri.org/ListEmployeesDetailedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListEmployeesDetailedDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployeesDetailedData">
      <soap12:operation soapAction="http://tempuri.org/ListEmployeesDetailedDataByQuery" style="document" />
      <wsdl:input name="ListEmployeesDetailedDataByQuery">
        <soap12:body use="literal" />
        <soap12:header message="tns:ListEmployeesDetailedDataByQueryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ListEmployeesDetailedDataByQuery">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSingleEmployeeData">
      <soap12:operation soapAction="http://tempuri.org/ListSingleEmployeeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListSingleEmployeeDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployeeSummarizedData">
      <soap12:operation soapAction="http://tempuri.org/ListEmployeeSummarizedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListEmployeeSummarizedDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveEmployees">
      <soap12:operation soapAction="http://tempuri.org/ListActiveEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListActiveEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTerminatedEmployees">
      <soap12:operation soapAction="http://tempuri.org/ListTerminatedEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListTerminatedEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateEmployee">
      <soap12:operation soapAction="http://tempuri.org/TerminateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:TerminateEmployeeAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeesJobTitle">
      <soap12:operation soapAction="http://tempuri.org/AddEmployeesJobTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddEmployeesJobTitleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap12:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesService">
    <wsdl:port name="EmployeesServiceSoap" binding="tns:EmployeesServiceSoap">
      <soap:address location="http://localhost/Accountability_WS/EmployeesService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeesServiceSoap12" binding="tns:EmployeesServiceSoap12">
      <soap12:address location="http://localhost/Accountability_WS/EmployeesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>