ASI-CRM/ASI.Office/ASI.Office/App_WebReferences/ELSData/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllContact">
        <s:complexType />
      </s:element>
      <s:element name="getAllContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllContactResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="getContactDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getContactDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getContactDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllContactSoapIn">
    <wsdl:part name="parameters" element="tns:getAllContact" />
  </wsdl:message>
  <wsdl:message name="getAllContactSoapOut">
    <wsdl:part name="parameters" element="tns:getAllContactResponse" />
  </wsdl:message>
  <wsdl:message name="getAllContactAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getContactDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getContactDetails" />
  </wsdl:message>
  <wsdl:message name="getContactDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getContactDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getContactDetailsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="getAllContact">
      <wsdl:input message="tns:getAllContactSoapIn" />
      <wsdl:output message="tns:getAllContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getContactDetails">
      <wsdl:input message="tns:getContactDetailsSoapIn" />
      <wsdl:output message="tns:getContactDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <wsdl:input message="tns:UpdateStatusSoapIn" />
      <wsdl:output message="tns:UpdateStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllContact">
      <soap:operation soapAction="http://tempuri.org/getAllContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getAllContactAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContactDetails">
      <soap:operation soapAction="http://tempuri.org/getContactDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getContactDetailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateStatusAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllContact">
      <soap12:operation soapAction="http://tempuri.org/getAllContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getAllContactAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContactDetails">
      <soap12:operation soapAction="http://tempuri.org/getContactDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getContactDetailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateStatusAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://www.appliedscienceint.com/ASIService/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://www.appliedscienceint.com/ASIService/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>