Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/CompanyStruct/CompanyStucture.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListCompanyElementLevels">
        <s:complexType />
      </s:element>
      <s:element name="ListCompanyElementLevelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompanyElementLevelsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="AddChildCompanyElements">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newEements">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChildCompanyElementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddChildCompanyElementsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCompanyElmentLevels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifiedElements">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCompanyElmentLevelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyCompanyElmentLevelsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCompnayElements">
        <s:complexType />
      </s:element>
      <s:element name="ListCompnayElementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCompnayElementsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCompanyElements">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewElements">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCompanyElementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCompanyElementsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCompanyElemenets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifiedElemnts">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCompanyElemenetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyCompanyElemenetsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCompanyElements">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletedElements">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCompanyElementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCompanyElementsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListChildrenElments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ParentElementID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListChildrenElmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListChildrenElmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetERPSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListCompanyElementLevelsSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompanyElementLevels" />
  </wsdl:message>
  <wsdl:message name="ListCompanyElementLevelsSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompanyElementLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompanyElementLevelsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddChildCompanyElementsSoapIn">
    <wsdl:part name="parameters" element="tns:AddChildCompanyElements" />
  </wsdl:message>
  <wsdl:message name="AddChildCompanyElementsSoapOut">
    <wsdl:part name="parameters" element="tns:AddChildCompanyElementsResponse" />
  </wsdl:message>
  <wsdl:message name="AddChildCompanyElementsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ModifyCompanyElmentLevelsSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyCompanyElmentLevels" />
  </wsdl:message>
  <wsdl:message name="ModifyCompanyElmentLevelsSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyCompanyElmentLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyCompanyElmentLevelsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListCompnayElementsSoapIn">
    <wsdl:part name="parameters" element="tns:ListCompnayElements" />
  </wsdl:message>
  <wsdl:message name="ListCompnayElementsSoapOut">
    <wsdl:part name="parameters" element="tns:ListCompnayElementsResponse" />
  </wsdl:message>
  <wsdl:message name="ListCompnayElementsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddCompanyElementsSoapIn">
    <wsdl:part name="parameters" element="tns:AddCompanyElements" />
  </wsdl:message>
  <wsdl:message name="AddCompanyElementsSoapOut">
    <wsdl:part name="parameters" element="tns:AddCompanyElementsResponse" />
  </wsdl:message>
  <wsdl:message name="AddCompanyElementsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ModifyCompanyElemenetsSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyCompanyElemenets" />
  </wsdl:message>
  <wsdl:message name="ModifyCompanyElemenetsSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyCompanyElemenetsResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyCompanyElemenetsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteCompanyElementsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCompanyElements" />
  </wsdl:message>
  <wsdl:message name="DeleteCompanyElementsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCompanyElementsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCompanyElementsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListChildrenElmentsSoapIn">
    <wsdl:part name="parameters" element="tns:ListChildrenElments" />
  </wsdl:message>
  <wsdl:message name="ListChildrenElmentsSoapOut">
    <wsdl:part name="parameters" element="tns:ListChildrenElmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ListChildrenElmentsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPSession" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="CompanyStuctureSoap">
    <wsdl:operation name="ListCompanyElementLevels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists All avliable comapny elements, returns a DataSet of type (TSN.ERP.SharedComponents.Data.dsCompanyElementLevels)</wsdl:documentation>
      <wsdl:input message="tns:ListCompanyElementLevelsSoapIn" />
      <wsdl:output message="tns:ListCompanyElementLevelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddChildCompanyElements">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds Child Elements to a given paretn elements, takes a DataSet of type (TSN.ERP.SharedComponents.Data.dsCompanyElementLevels)</wsdl:documentation>
      <wsdl:input message="tns:AddChildCompanyElementsSoapIn" />
      <wsdl:output message="tns:AddChildCompanyElementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCompanyElmentLevels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Can be used to Delete or update and exisiting Company Element, Takes a Data Set of type (TSN.ERP.SharedComponents.Data.dsCompanyElementLevels) </wsdl:documentation>
      <wsdl:input message="tns:ModifyCompanyElmentLevelsSoapIn" />
      <wsdl:output message="tns:ModifyCompanyElmentLevelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCompnayElements">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List Company Elemnts, Such as Divisions, Departments or any other type that is avliable, return a Dataset of type(TSN.ERP.SharedComponents.Data.dsCompanyElements)</wsdl:documentation>
      <wsdl:input message="tns:ListCompnayElementsSoapIn" />
      <wsdl:output message="tns:ListCompnayElementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCompanyElements">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add new Company Elements , takes DataSet of type (TSN.ERP.SharedComponents.Data.dsCompanyElements) </wsdl:documentation>
      <wsdl:input message="tns:AddCompanyElementsSoapIn" />
      <wsdl:output message="tns:AddCompanyElementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCompanyElemenets">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">used to Edit an exisiting company element, takes a dataset of type (TSN.ERP.SharedComponents.Data.dsCompanyElements)</wsdl:documentation>
      <wsdl:input message="tns:ModifyCompanyElemenetsSoapIn" />
      <wsdl:output message="tns:ModifyCompanyElemenetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyElements">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes Exsisting Company Elements, takes a dataset of type (TSN.ERP.SharedComponents.Data.dsCompanyElements)</wsdl:documentation>
      <wsdl:input message="tns:DeleteCompanyElementsSoapIn" />
      <wsdl:output message="tns:DeleteCompanyElementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListChildrenElments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists the cildren of a given company elements, returns a dataset of type (TSN.ERP.SharedComponents.Data.dsCompanyElements)</wsdl:documentation>
      <wsdl:input message="tns:ListChildrenElmentsSoapIn" />
      <wsdl:output message="tns:ListChildrenElmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <wsdl:input message="tns:GetERPSessionSoapIn" />
      <wsdl:output message="tns:GetERPSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompanyStuctureSoap" type="tns:CompanyStuctureSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCompanyElementLevels">
      <soap:operation soapAction="http://tempuri.org/ListCompanyElementLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListCompanyElementLevelsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChildCompanyElements">
      <soap:operation soapAction="http://tempuri.org/AddChildCompanyElements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddChildCompanyElementsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCompanyElmentLevels">
      <soap:operation soapAction="http://tempuri.org/ModifyCompanyElmentLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyCompanyElmentLevelsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompnayElements">
      <soap:operation soapAction="http://tempuri.org/ListCompnayElements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListCompnayElementsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompanyElements">
      <soap:operation soapAction="http://tempuri.org/AddCompanyElements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddCompanyElementsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCompanyElemenets">
      <soap:operation soapAction="http://tempuri.org/ModifyCompanyElemenets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyCompanyElemenetsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyElements">
      <soap:operation soapAction="http://tempuri.org/DeleteCompanyElements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteCompanyElementsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListChildrenElments">
      <soap:operation soapAction="http://tempuri.org/ListChildrenElments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListChildrenElmentsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanyStuctureSoap12" type="tns:CompanyStuctureSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCompanyElementLevels">
      <soap12:operation soapAction="http://tempuri.org/ListCompanyElementLevels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListCompanyElementLevelsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChildCompanyElements">
      <soap12:operation soapAction="http://tempuri.org/AddChildCompanyElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddChildCompanyElementsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCompanyElmentLevels">
      <soap12:operation soapAction="http://tempuri.org/ModifyCompanyElmentLevels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyCompanyElmentLevelsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCompnayElements">
      <soap12:operation soapAction="http://tempuri.org/ListCompnayElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListCompnayElementsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompanyElements">
      <soap12:operation soapAction="http://tempuri.org/AddCompanyElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddCompanyElementsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCompanyElemenets">
      <soap12:operation soapAction="http://tempuri.org/ModifyCompanyElemenets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyCompanyElemenetsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyElements">
      <soap12:operation soapAction="http://tempuri.org/DeleteCompanyElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteCompanyElementsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListChildrenElments">
      <soap12:operation soapAction="http://tempuri.org/ListChildrenElments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListChildrenElmentsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap12:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyStucture">
    <wsdl:port name="CompanyStuctureSoap" binding="tns:CompanyStuctureSoap">
      <soap:address location="http://localhost/Accountability_WS/CompanyStucture.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanyStuctureSoap12" binding="tns:CompanyStuctureSoap12">
      <soap12:address location="http://localhost/Accountability_WS/CompanyStucture.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>