Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/ContactsWS/ContactsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListContactsData">
        <s:complexType />
      </s:element>
      <s:element name="ListContactsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactsDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ListContactByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactByQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filterString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactByQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactByQueryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewContacts">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddContactResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifiedContects">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditContactResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateContactUserIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactAddressResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsAddress">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAddressResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactPrimaryAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactPrimaryAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactPrimaryAddressResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactPhones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactPhonesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactPhonesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePhoneBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsPhones">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePhoneBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePhoneBookResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPrimayContactPhones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPrimayContactPhonesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListPrimayContactPhonesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllCities">
        <s:complexType />
      </s:element>
      <s:element name="ListAllCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cityID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCityResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCityResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllStateCities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stateID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllStateCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllStateCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllStates">
        <s:complexType />
      </s:element>
      <s:element name="ListAllStatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllStatesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stateID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListStateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateStateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteStateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllCountryStates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="countryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllCountryStatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllCountryStatesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllCountries">
        <s:complexType />
      </s:element>
      <s:element name="ListAllCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllCountriesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stateID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCountryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCountryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCountryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllEmails">
        <s:complexType />
      </s:element>
      <s:element name="ListAllEmailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllEmailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateEmailResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteEmailResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllCotactEmails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllCotactEmailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllCotactEmailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCotactsAndEmails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="emailType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCotactsAndEmailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCotactsAndEmailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllWebSites">
        <s:complexType />
      </s:element>
      <s:element name="ListAllWebSitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllWebSitesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWebSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWebSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateWebSiteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWebSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWebSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteWebSiteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllCotactWebSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllCotactWebSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllCotactWebSiteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactPrimaryWebSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListContactPrimaryWebSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListContactPrimaryWebSiteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetERPSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListContactsDataSoapIn">
    <wsdl:part name="parameters" element="tns:ListContactsData" />
  </wsdl:message>
  <wsdl:message name="ListContactsDataSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactsDataResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactsDataAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListContactByIDSoapIn">
    <wsdl:part name="parameters" element="tns:ListContactByID" />
  </wsdl:message>
  <wsdl:message name="ListContactByIDSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactByIDAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListContactByQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ListContactByQuery" />
  </wsdl:message>
  <wsdl:message name="ListContactByQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ListContactByQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactByQueryAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddContactSoapIn">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="AddContactSoapOut">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="AddContactAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="EditContactSoapIn">
    <wsdl:part name="parameters" element="tns:EditContact" />
  </wsdl:message>
  <wsdl:message name="EditContactSoapOut">
    <wsdl:part name="parameters" element="tns:EditContactResponse" />
  </wsdl:message>
  <wsdl:message name="EditContactAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateContactUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContactUserID" />
  </wsdl:message>
  <wsdl:message name="UpdateContactUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContactUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContactUserIDAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListContactAddressSoapIn">
    <wsdl:part name="parameters" element="tns:ListContactAddress" />
  </wsdl:message>
  <wsdl:message name="ListContactAddressSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactAddressAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateAddressSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAddress" />
  </wsdl:message>
  <wsdl:message name="UpdateAddressSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAddressAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetContactPrimaryAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactPrimaryAddress" />
  </wsdl:message>
  <wsdl:message name="GetContactPrimaryAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactPrimaryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactPrimaryAddressAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListContactPhonesSoapIn">
    <wsdl:part name="parameters" element="tns:ListContactPhones" />
  </wsdl:message>
  <wsdl:message name="ListContactPhonesSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactPhonesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdatePhoneBookSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePhoneBook" />
  </wsdl:message>
  <wsdl:message name="UpdatePhoneBookSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePhoneBookResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePhoneBookAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListPrimayContactPhonesSoapIn">
    <wsdl:part name="parameters" element="tns:ListPrimayContactPhones" />
  </wsdl:message>
  <wsdl:message name="ListPrimayContactPhonesSoapOut">
    <wsdl:part name="parameters" element="tns:ListPrimayContactPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="ListPrimayContactPhonesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllCities" />
  </wsdl:message>
  <wsdl:message name="ListAllCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllCitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListCitySoapIn">
    <wsdl:part name="parameters" element="tns:ListCity" />
  </wsdl:message>
  <wsdl:message name="ListCitySoapOut">
    <wsdl:part name="parameters" element="tns:ListCityResponse" />
  </wsdl:message>
  <wsdl:message name="ListCityAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateCitySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCity" />
  </wsdl:message>
  <wsdl:message name="UpdateCitySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCityResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCityAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteCitySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCity" />
  </wsdl:message>
  <wsdl:message name="DeleteCitySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCityAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllStateCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllStateCities" />
  </wsdl:message>
  <wsdl:message name="ListAllStateCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllStateCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllStateCitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllStatesSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllStates" />
  </wsdl:message>
  <wsdl:message name="ListAllStatesSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllStatesResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllStatesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListStateSoapIn">
    <wsdl:part name="parameters" element="tns:ListState" />
  </wsdl:message>
  <wsdl:message name="ListStateSoapOut">
    <wsdl:part name="parameters" element="tns:ListStateResponse" />
  </wsdl:message>
  <wsdl:message name="ListStateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateState" />
  </wsdl:message>
  <wsdl:message name="UpdateStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteStateSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteState" />
  </wsdl:message>
  <wsdl:message name="DeleteStateSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteStateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteStateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllCountryStatesSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllCountryStates" />
  </wsdl:message>
  <wsdl:message name="ListAllCountryStatesSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllCountryStatesResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllCountryStatesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllCountries" />
  </wsdl:message>
  <wsdl:message name="ListAllCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllCountriesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListCountrySoapIn">
    <wsdl:part name="parameters" element="tns:ListCountry" />
  </wsdl:message>
  <wsdl:message name="ListCountrySoapOut">
    <wsdl:part name="parameters" element="tns:ListCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ListCountryAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateCountrySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCountry" />
  </wsdl:message>
  <wsdl:message name="UpdateCountrySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCountryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCountryAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteCountrySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCountry" />
  </wsdl:message>
  <wsdl:message name="DeleteCountrySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCountryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCountryAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllEmailsSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllEmails" />
  </wsdl:message>
  <wsdl:message name="ListAllEmailsSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllEmailsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateEmailSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmail" />
  </wsdl:message>
  <wsdl:message name="UpdateEmailSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmailResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmailAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteEmailSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmail" />
  </wsdl:message>
  <wsdl:message name="DeleteEmailSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmailResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmailAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllCotactEmailsSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllCotactEmails" />
  </wsdl:message>
  <wsdl:message name="ListAllCotactEmailsSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllCotactEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllCotactEmailsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListCotactsAndEmailsSoapIn">
    <wsdl:part name="parameters" element="tns:ListCotactsAndEmails" />
  </wsdl:message>
  <wsdl:message name="ListCotactsAndEmailsSoapOut">
    <wsdl:part name="parameters" element="tns:ListCotactsAndEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="ListCotactsAndEmailsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllWebSitesSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllWebSites" />
  </wsdl:message>
  <wsdl:message name="ListAllWebSitesSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllWebSitesResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllWebSitesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateWebSiteSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWebSite" />
  </wsdl:message>
  <wsdl:message name="UpdateWebSiteSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWebSiteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWebSiteAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteWebSiteSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteWebSite" />
  </wsdl:message>
  <wsdl:message name="DeleteWebSiteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteWebSiteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWebSiteAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListAllCotactWebSiteSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllCotactWebSite" />
  </wsdl:message>
  <wsdl:message name="ListAllCotactWebSiteSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllCotactWebSiteResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllCotactWebSiteAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListContactPrimaryWebSiteSoapIn">
    <wsdl:part name="parameters" element="tns:ListContactPrimaryWebSite" />
  </wsdl:message>
  <wsdl:message name="ListContactPrimaryWebSiteSoapOut">
    <wsdl:part name="parameters" element="tns:ListContactPrimaryWebSiteResponse" />
  </wsdl:message>
  <wsdl:message name="ListContactPrimaryWebSiteAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPSession" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ContactsServiceSoap">
    <wsdl:operation name="ListContactsData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists All Contacts Data, returns a Dataset of type (TSN.ERP.SharedComponents.Data.dsContacts)</wsdl:documentation>
      <wsdl:input message="tns:ListContactsDataSoapIn" />
      <wsdl:output message="tns:ListContactsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactsData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List the details for a given contact, returns a dataset of type (TSN.ERP.SharedComponents.Data.dsContacts)</wsdl:documentation>
      <wsdl:input name="ListContactByID" message="tns:ListContactByIDSoapIn" />
      <wsdl:output name="ListContactByID" message="tns:ListContactByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactsData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List the details for a given Query, returns a dataset of type (TSN.ERP.SharedComponents.Data.dsContacts)</wsdl:documentation>
      <wsdl:input name="ListContactByQuery" message="tns:ListContactByQuerySoapIn" />
      <wsdl:output name="ListContactByQuery" message="tns:ListContactByQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds new contacts to the system , takes dataset of type (TSN.ERP.SharedComponents.Data.dsContacts)</wsdl:documentation>
      <wsdl:input message="tns:AddContactSoapIn" />
      <wsdl:output message="tns:AddContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit exsisting contact data, takes a dataset of type (TSN.ERP.SharedComponents.Data.dsContacts)</wsdl:documentation>
      <wsdl:input message="tns:EditContactSoapIn" />
      <wsdl:output message="tns:EditContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContactUserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit exsisting contact data, takes a dataset of type (TSN.ERP.SharedComponents.Data.dsContacts)</wsdl:documentation>
      <wsdl:input message="tns:UpdateContactUserIDSoapIn" />
      <wsdl:output message="tns:UpdateContactUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists the addresses for a given contact,return a dataset of type (TSN.ERP.SharedComponents.Data.dsAddress)</wsdl:documentation>
      <wsdl:input message="tns:ListContactAddressSoapIn" />
      <wsdl:output message="tns:ListContactAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <wsdl:input message="tns:UpdateAddressSoapIn" />
      <wsdl:output message="tns:UpdateAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactPrimaryAddress">
      <wsdl:input message="tns:GetContactPrimaryAddressSoapIn" />
      <wsdl:output message="tns:GetContactPrimaryAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactPhones">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List the Phones for a specific contact</wsdl:documentation>
      <wsdl:input message="tns:ListContactPhonesSoapIn" />
      <wsdl:output message="tns:ListContactPhonesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoneBook">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">s</wsdl:documentation>
      <wsdl:input message="tns:UpdatePhoneBookSoapIn" />
      <wsdl:output message="tns:UpdatePhoneBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPrimayContactPhones">
      <wsdl:input message="tns:ListPrimayContactPhonesSoapIn" />
      <wsdl:output message="tns:ListPrimayContactPhonesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllCities">
      <wsdl:input message="tns:ListAllCitiesSoapIn" />
      <wsdl:output message="tns:ListAllCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCity">
      <wsdl:input message="tns:ListCitySoapIn" />
      <wsdl:output message="tns:ListCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <wsdl:input message="tns:UpdateCitySoapIn" />
      <wsdl:output message="tns:UpdateCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <wsdl:input message="tns:DeleteCitySoapIn" />
      <wsdl:output message="tns:DeleteCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllStateCities">
      <wsdl:input message="tns:ListAllStateCitiesSoapIn" />
      <wsdl:output message="tns:ListAllStateCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllStates">
      <wsdl:input message="tns:ListAllStatesSoapIn" />
      <wsdl:output message="tns:ListAllStatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListState">
      <wsdl:input message="tns:ListStateSoapIn" />
      <wsdl:output message="tns:ListStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateState">
      <wsdl:input message="tns:UpdateStateSoapIn" />
      <wsdl:output message="tns:UpdateStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteState">
      <wsdl:input message="tns:DeleteStateSoapIn" />
      <wsdl:output message="tns:DeleteStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllCountryStates">
      <wsdl:input message="tns:ListAllCountryStatesSoapIn" />
      <wsdl:output message="tns:ListAllCountryStatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllCountries">
      <wsdl:input message="tns:ListAllCountriesSoapIn" />
      <wsdl:output message="tns:ListAllCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCountry">
      <wsdl:input message="tns:ListCountrySoapIn" />
      <wsdl:output message="tns:ListCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCountry">
      <wsdl:input message="tns:UpdateCountrySoapIn" />
      <wsdl:output message="tns:UpdateCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCountry">
      <wsdl:input message="tns:DeleteCountrySoapIn" />
      <wsdl:output message="tns:DeleteCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllEmails">
      <wsdl:input message="tns:ListAllEmailsSoapIn" />
      <wsdl:output message="tns:ListAllEmailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmail">
      <wsdl:input message="tns:UpdateEmailSoapIn" />
      <wsdl:output message="tns:UpdateEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmail">
      <wsdl:input message="tns:DeleteEmailSoapIn" />
      <wsdl:output message="tns:DeleteEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllCotactEmails">
      <wsdl:input message="tns:ListAllCotactEmailsSoapIn" />
      <wsdl:output message="tns:ListAllCotactEmailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCotactsAndEmails">
      <wsdl:input message="tns:ListCotactsAndEmailsSoapIn" />
      <wsdl:output message="tns:ListCotactsAndEmailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllWebSites">
      <wsdl:input message="tns:ListAllWebSitesSoapIn" />
      <wsdl:output message="tns:ListAllWebSitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWebSite">
      <wsdl:input message="tns:UpdateWebSiteSoapIn" />
      <wsdl:output message="tns:UpdateWebSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWebSite">
      <wsdl:input message="tns:DeleteWebSiteSoapIn" />
      <wsdl:output message="tns:DeleteWebSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllCotactWebSite">
      <wsdl:input message="tns:ListAllCotactWebSiteSoapIn" />
      <wsdl:output message="tns:ListAllCotactWebSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListContactPrimaryWebSite">
      <wsdl:input message="tns:ListContactPrimaryWebSiteSoapIn" />
      <wsdl:output message="tns:ListContactPrimaryWebSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <wsdl:input message="tns:GetERPSessionSoapIn" />
      <wsdl:output message="tns:GetERPSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactsServiceSoap" type="tns:ContactsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListContactsData">
      <soap:operation soapAction="http://tempuri.org/ListContactsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListContactsDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsData">
      <soap:operation soapAction="http://tempuri.org/ListContactByID" style="document" />
      <wsdl:input name="ListContactByID">
        <soap:body use="literal" />
        <soap:header message="tns:ListContactByIDAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ListContactByID">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsData">
      <soap:operation soapAction="http://tempuri.org/ListContactByQuery" style="document" />
      <wsdl:input name="ListContactByQuery">
        <soap:body use="literal" />
        <soap:header message="tns:ListContactByQueryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ListContactByQuery">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://tempuri.org/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddContactAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditContact">
      <soap:operation soapAction="http://tempuri.org/EditContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EditContactAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactUserID">
      <soap:operation soapAction="http://tempuri.org/UpdateContactUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateContactUserIDAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactAddress">
      <soap:operation soapAction="http://tempuri.org/ListContactAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListContactAddressAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <soap:operation soapAction="http://tempuri.org/UpdateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateAddressAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPrimaryAddress">
      <soap:operation soapAction="http://tempuri.org/GetContactPrimaryAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetContactPrimaryAddressAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactPhones">
      <soap:operation soapAction="http://tempuri.org/ListContactPhones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListContactPhonesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoneBook">
      <soap:operation soapAction="http://tempuri.org/UpdatePhoneBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdatePhoneBookAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPrimayContactPhones">
      <soap:operation soapAction="http://tempuri.org/ListPrimayContactPhones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListPrimayContactPhonesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCities">
      <soap:operation soapAction="http://tempuri.org/ListAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllCitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCity">
      <soap:operation soapAction="http://tempuri.org/ListCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListCityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap:operation soapAction="http://tempuri.org/UpdateCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateCityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap:operation soapAction="http://tempuri.org/DeleteCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteCityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllStateCities">
      <soap:operation soapAction="http://tempuri.org/ListAllStateCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllStateCitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllStates">
      <soap:operation soapAction="http://tempuri.org/ListAllStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllStatesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListState">
      <soap:operation soapAction="http://tempuri.org/ListState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListStateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateState">
      <soap:operation soapAction="http://tempuri.org/UpdateState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateStateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteState">
      <soap:operation soapAction="http://tempuri.org/DeleteState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteStateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCountryStates">
      <soap:operation soapAction="http://tempuri.org/ListAllCountryStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllCountryStatesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCountries">
      <soap:operation soapAction="http://tempuri.org/ListAllCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllCountriesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCountry">
      <soap:operation soapAction="http://tempuri.org/ListCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListCountryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCountry">
      <soap:operation soapAction="http://tempuri.org/UpdateCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateCountryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCountry">
      <soap:operation soapAction="http://tempuri.org/DeleteCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteCountryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllEmails">
      <soap:operation soapAction="http://tempuri.org/ListAllEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllEmailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmail">
      <soap:operation soapAction="http://tempuri.org/UpdateEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateEmailAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmail">
      <soap:operation soapAction="http://tempuri.org/DeleteEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteEmailAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCotactEmails">
      <soap:operation soapAction="http://tempuri.org/ListAllCotactEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllCotactEmailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCotactsAndEmails">
      <soap:operation soapAction="http://tempuri.org/ListCotactsAndEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListCotactsAndEmailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllWebSites">
      <soap:operation soapAction="http://tempuri.org/ListAllWebSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllWebSitesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebSite">
      <soap:operation soapAction="http://tempuri.org/UpdateWebSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateWebSiteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWebSite">
      <soap:operation soapAction="http://tempuri.org/DeleteWebSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteWebSiteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCotactWebSite">
      <soap:operation soapAction="http://tempuri.org/ListAllCotactWebSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllCotactWebSiteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactPrimaryWebSite">
      <soap:operation soapAction="http://tempuri.org/ListContactPrimaryWebSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListContactPrimaryWebSiteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContactsServiceSoap12" type="tns:ContactsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListContactsData">
      <soap12:operation soapAction="http://tempuri.org/ListContactsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListContactsDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsData">
      <soap12:operation soapAction="http://tempuri.org/ListContactByID" style="document" />
      <wsdl:input name="ListContactByID">
        <soap12:body use="literal" />
        <soap12:header message="tns:ListContactByIDAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ListContactByID">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactsData">
      <soap12:operation soapAction="http://tempuri.org/ListContactByQuery" style="document" />
      <wsdl:input name="ListContactByQuery">
        <soap12:body use="literal" />
        <soap12:header message="tns:ListContactByQueryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ListContactByQuery">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap12:operation soapAction="http://tempuri.org/AddContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddContactAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditContact">
      <soap12:operation soapAction="http://tempuri.org/EditContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EditContactAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactUserID">
      <soap12:operation soapAction="http://tempuri.org/UpdateContactUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateContactUserIDAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactAddress">
      <soap12:operation soapAction="http://tempuri.org/ListContactAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListContactAddressAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <soap12:operation soapAction="http://tempuri.org/UpdateAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateAddressAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPrimaryAddress">
      <soap12:operation soapAction="http://tempuri.org/GetContactPrimaryAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetContactPrimaryAddressAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactPhones">
      <soap12:operation soapAction="http://tempuri.org/ListContactPhones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListContactPhonesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoneBook">
      <soap12:operation soapAction="http://tempuri.org/UpdatePhoneBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdatePhoneBookAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPrimayContactPhones">
      <soap12:operation soapAction="http://tempuri.org/ListPrimayContactPhones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListPrimayContactPhonesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCities">
      <soap12:operation soapAction="http://tempuri.org/ListAllCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllCitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCity">
      <soap12:operation soapAction="http://tempuri.org/ListCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListCityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap12:operation soapAction="http://tempuri.org/UpdateCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateCityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap12:operation soapAction="http://tempuri.org/DeleteCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteCityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllStateCities">
      <soap12:operation soapAction="http://tempuri.org/ListAllStateCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllStateCitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllStates">
      <soap12:operation soapAction="http://tempuri.org/ListAllStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllStatesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListState">
      <soap12:operation soapAction="http://tempuri.org/ListState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListStateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateState">
      <soap12:operation soapAction="http://tempuri.org/UpdateState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateStateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteState">
      <soap12:operation soapAction="http://tempuri.org/DeleteState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteStateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCountryStates">
      <soap12:operation soapAction="http://tempuri.org/ListAllCountryStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllCountryStatesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCountries">
      <soap12:operation soapAction="http://tempuri.org/ListAllCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllCountriesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCountry">
      <soap12:operation soapAction="http://tempuri.org/ListCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListCountryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCountry">
      <soap12:operation soapAction="http://tempuri.org/UpdateCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateCountryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCountry">
      <soap12:operation soapAction="http://tempuri.org/DeleteCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteCountryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllEmails">
      <soap12:operation soapAction="http://tempuri.org/ListAllEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllEmailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmail">
      <soap12:operation soapAction="http://tempuri.org/UpdateEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateEmailAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmail">
      <soap12:operation soapAction="http://tempuri.org/DeleteEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteEmailAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCotactEmails">
      <soap12:operation soapAction="http://tempuri.org/ListAllCotactEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllCotactEmailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCotactsAndEmails">
      <soap12:operation soapAction="http://tempuri.org/ListCotactsAndEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListCotactsAndEmailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllWebSites">
      <soap12:operation soapAction="http://tempuri.org/ListAllWebSites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllWebSitesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebSite">
      <soap12:operation soapAction="http://tempuri.org/UpdateWebSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateWebSiteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWebSite">
      <soap12:operation soapAction="http://tempuri.org/DeleteWebSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteWebSiteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCotactWebSite">
      <soap12:operation soapAction="http://tempuri.org/ListAllCotactWebSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllCotactWebSiteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListContactPrimaryWebSite">
      <soap12:operation soapAction="http://tempuri.org/ListContactPrimaryWebSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListContactPrimaryWebSiteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap12:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactsService">
    <wsdl:port name="ContactsServiceSoap" binding="tns:ContactsServiceSoap">
      <soap:address location="http://localhost/Accountability_WS/ContactsService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContactsServiceSoap12" binding="tns:ContactsServiceSoap12">
      <soap12:address location="http://localhost/Accountability_WS/ContactsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>