Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/GUIWS/GUI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ViewUserModules">
        <s:complexType />
      </s:element>
      <s:element name="ViewUserModulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewUserModulesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ViewUserLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="moduleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewUserLinksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewUserLinksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewUserFunctionalities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="linkID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewUserFunctionalitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewUserFunctionalitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewModules">
        <s:complexType />
      </s:element>
      <s:element name="ViewModulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewModulesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewModuleLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewModuleLinksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewModuleLinksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewLinkFunctionalities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="linkID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewLinkFunctionalitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewLinkFunctionalitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewSubModulesForModule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewSubModulesForModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewSubModulesForModuleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewRulesForSubModule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModsubModID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewRulesForSubModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewRulesForSubModuleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewRulesEntitiesOfSubModule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModsubModID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewRulesEntitiesOfSubModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewRulesEntitiesOfSubModuleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewModuleUserGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewModuleUserGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewModuleUserGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewModuleRuleGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewModuleRuleGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewModuleRuleGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewRulesGroupsOfUserGroupInModule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userGroupID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewRulesGroupsOfUserGroupInModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewRulesGroupsOfUserGroupInModuleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewUsersGroupsOfRuleGroupInModule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ruleGroupID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewUsersGroupsOfRuleGroupInModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewUsersGroupsOfRuleGroupInModuleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetERPSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ViewUserModulesSoapIn">
    <wsdl:part name="parameters" element="tns:ViewUserModules" />
  </wsdl:message>
  <wsdl:message name="ViewUserModulesSoapOut">
    <wsdl:part name="parameters" element="tns:ViewUserModulesResponse" />
  </wsdl:message>
  <wsdl:message name="ViewUserModulesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewUserLinksSoapIn">
    <wsdl:part name="parameters" element="tns:ViewUserLinks" />
  </wsdl:message>
  <wsdl:message name="ViewUserLinksSoapOut">
    <wsdl:part name="parameters" element="tns:ViewUserLinksResponse" />
  </wsdl:message>
  <wsdl:message name="ViewUserLinksAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewUserFunctionalitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ViewUserFunctionalities" />
  </wsdl:message>
  <wsdl:message name="ViewUserFunctionalitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ViewUserFunctionalitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ViewUserFunctionalitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewModulesSoapIn">
    <wsdl:part name="parameters" element="tns:ViewModules" />
  </wsdl:message>
  <wsdl:message name="ViewModulesSoapOut">
    <wsdl:part name="parameters" element="tns:ViewModulesResponse" />
  </wsdl:message>
  <wsdl:message name="ViewModulesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewModuleLinksSoapIn">
    <wsdl:part name="parameters" element="tns:ViewModuleLinks" />
  </wsdl:message>
  <wsdl:message name="ViewModuleLinksSoapOut">
    <wsdl:part name="parameters" element="tns:ViewModuleLinksResponse" />
  </wsdl:message>
  <wsdl:message name="ViewModuleLinksAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewLinkFunctionalitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ViewLinkFunctionalities" />
  </wsdl:message>
  <wsdl:message name="ViewLinkFunctionalitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ViewLinkFunctionalitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ViewLinkFunctionalitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewSubModulesForModuleSoapIn">
    <wsdl:part name="parameters" element="tns:ViewSubModulesForModule" />
  </wsdl:message>
  <wsdl:message name="ViewSubModulesForModuleSoapOut">
    <wsdl:part name="parameters" element="tns:ViewSubModulesForModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ViewSubModulesForModuleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewRulesForSubModuleSoapIn">
    <wsdl:part name="parameters" element="tns:ViewRulesForSubModule" />
  </wsdl:message>
  <wsdl:message name="ViewRulesForSubModuleSoapOut">
    <wsdl:part name="parameters" element="tns:ViewRulesForSubModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ViewRulesForSubModuleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewRulesEntitiesOfSubModuleSoapIn">
    <wsdl:part name="parameters" element="tns:ViewRulesEntitiesOfSubModule" />
  </wsdl:message>
  <wsdl:message name="ViewRulesEntitiesOfSubModuleSoapOut">
    <wsdl:part name="parameters" element="tns:ViewRulesEntitiesOfSubModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ViewRulesEntitiesOfSubModuleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewModuleUserGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewModuleUserGroups" />
  </wsdl:message>
  <wsdl:message name="ViewModuleUserGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewModuleUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ViewModuleUserGroupsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewModuleRuleGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewModuleRuleGroups" />
  </wsdl:message>
  <wsdl:message name="ViewModuleRuleGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewModuleRuleGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ViewModuleRuleGroupsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewRulesGroupsOfUserGroupInModuleSoapIn">
    <wsdl:part name="parameters" element="tns:ViewRulesGroupsOfUserGroupInModule" />
  </wsdl:message>
  <wsdl:message name="ViewRulesGroupsOfUserGroupInModuleSoapOut">
    <wsdl:part name="parameters" element="tns:ViewRulesGroupsOfUserGroupInModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ViewRulesGroupsOfUserGroupInModuleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewUsersGroupsOfRuleGroupInModuleSoapIn">
    <wsdl:part name="parameters" element="tns:ViewUsersGroupsOfRuleGroupInModule" />
  </wsdl:message>
  <wsdl:message name="ViewUsersGroupsOfRuleGroupInModuleSoapOut">
    <wsdl:part name="parameters" element="tns:ViewUsersGroupsOfRuleGroupInModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ViewUsersGroupsOfRuleGroupInModuleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPSession" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="GUISoap">
    <wsdl:operation name="ViewUserModules">
      <wsdl:input message="tns:ViewUserModulesSoapIn" />
      <wsdl:output message="tns:ViewUserModulesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewUserLinks">
      <wsdl:input message="tns:ViewUserLinksSoapIn" />
      <wsdl:output message="tns:ViewUserLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewUserFunctionalities">
      <wsdl:input message="tns:ViewUserFunctionalitiesSoapIn" />
      <wsdl:output message="tns:ViewUserFunctionalitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewModules">
      <wsdl:input message="tns:ViewModulesSoapIn" />
      <wsdl:output message="tns:ViewModulesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewModuleLinks">
      <wsdl:input message="tns:ViewModuleLinksSoapIn" />
      <wsdl:output message="tns:ViewModuleLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewLinkFunctionalities">
      <wsdl:input message="tns:ViewLinkFunctionalitiesSoapIn" />
      <wsdl:output message="tns:ViewLinkFunctionalitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewSubModulesForModule">
      <wsdl:input message="tns:ViewSubModulesForModuleSoapIn" />
      <wsdl:output message="tns:ViewSubModulesForModuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewRulesForSubModule">
      <wsdl:input message="tns:ViewRulesForSubModuleSoapIn" />
      <wsdl:output message="tns:ViewRulesForSubModuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewRulesEntitiesOfSubModule">
      <wsdl:input message="tns:ViewRulesEntitiesOfSubModuleSoapIn" />
      <wsdl:output message="tns:ViewRulesEntitiesOfSubModuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewModuleUserGroups">
      <wsdl:input message="tns:ViewModuleUserGroupsSoapIn" />
      <wsdl:output message="tns:ViewModuleUserGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewModuleRuleGroups">
      <wsdl:input message="tns:ViewModuleRuleGroupsSoapIn" />
      <wsdl:output message="tns:ViewModuleRuleGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewRulesGroupsOfUserGroupInModule">
      <wsdl:input message="tns:ViewRulesGroupsOfUserGroupInModuleSoapIn" />
      <wsdl:output message="tns:ViewRulesGroupsOfUserGroupInModuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewUsersGroupsOfRuleGroupInModule">
      <wsdl:input message="tns:ViewUsersGroupsOfRuleGroupInModuleSoapIn" />
      <wsdl:output message="tns:ViewUsersGroupsOfRuleGroupInModuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <wsdl:input message="tns:GetERPSessionSoapIn" />
      <wsdl:output message="tns:GetERPSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GUISoap" type="tns:GUISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewUserModules">
      <soap:operation soapAction="http://tempuri.org/ViewUserModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewUserModulesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewUserLinks">
      <soap:operation soapAction="http://tempuri.org/ViewUserLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewUserLinksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewUserFunctionalities">
      <soap:operation soapAction="http://tempuri.org/ViewUserFunctionalities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewUserFunctionalitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewModules">
      <soap:operation soapAction="http://tempuri.org/ViewModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewModulesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewModuleLinks">
      <soap:operation soapAction="http://tempuri.org/ViewModuleLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewModuleLinksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewLinkFunctionalities">
      <soap:operation soapAction="http://tempuri.org/ViewLinkFunctionalities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewLinkFunctionalitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewSubModulesForModule">
      <soap:operation soapAction="http://tempuri.org/ViewSubModulesForModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewSubModulesForModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewRulesForSubModule">
      <soap:operation soapAction="http://tempuri.org/ViewRulesForSubModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewRulesForSubModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewRulesEntitiesOfSubModule">
      <soap:operation soapAction="http://tempuri.org/ViewRulesEntitiesOfSubModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewRulesEntitiesOfSubModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewModuleUserGroups">
      <soap:operation soapAction="http://tempuri.org/ViewModuleUserGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewModuleUserGroupsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewModuleRuleGroups">
      <soap:operation soapAction="http://tempuri.org/ViewModuleRuleGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewModuleRuleGroupsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewRulesGroupsOfUserGroupInModule">
      <soap:operation soapAction="http://tempuri.org/ViewRulesGroupsOfUserGroupInModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewRulesGroupsOfUserGroupInModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewUsersGroupsOfRuleGroupInModule">
      <soap:operation soapAction="http://tempuri.org/ViewUsersGroupsOfRuleGroupInModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewUsersGroupsOfRuleGroupInModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GUISoap12" type="tns:GUISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewUserModules">
      <soap12:operation soapAction="http://tempuri.org/ViewUserModules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewUserModulesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewUserLinks">
      <soap12:operation soapAction="http://tempuri.org/ViewUserLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewUserLinksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewUserFunctionalities">
      <soap12:operation soapAction="http://tempuri.org/ViewUserFunctionalities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewUserFunctionalitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewModules">
      <soap12:operation soapAction="http://tempuri.org/ViewModules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewModulesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewModuleLinks">
      <soap12:operation soapAction="http://tempuri.org/ViewModuleLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewModuleLinksAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewLinkFunctionalities">
      <soap12:operation soapAction="http://tempuri.org/ViewLinkFunctionalities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewLinkFunctionalitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewSubModulesForModule">
      <soap12:operation soapAction="http://tempuri.org/ViewSubModulesForModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewSubModulesForModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewRulesForSubModule">
      <soap12:operation soapAction="http://tempuri.org/ViewRulesForSubModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewRulesForSubModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewRulesEntitiesOfSubModule">
      <soap12:operation soapAction="http://tempuri.org/ViewRulesEntitiesOfSubModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewRulesEntitiesOfSubModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewModuleUserGroups">
      <soap12:operation soapAction="http://tempuri.org/ViewModuleUserGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewModuleUserGroupsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewModuleRuleGroups">
      <soap12:operation soapAction="http://tempuri.org/ViewModuleRuleGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewModuleRuleGroupsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewRulesGroupsOfUserGroupInModule">
      <soap12:operation soapAction="http://tempuri.org/ViewRulesGroupsOfUserGroupInModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewRulesGroupsOfUserGroupInModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewUsersGroupsOfRuleGroupInModule">
      <soap12:operation soapAction="http://tempuri.org/ViewUsersGroupsOfRuleGroupInModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ViewUsersGroupsOfRuleGroupInModuleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap12:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GUI">
    <wsdl:port name="GUISoap" binding="tns:GUISoap">
      <soap:address location="http://localhost/Accountability_WS/GUI.asmx" />
    </wsdl:port>
    <wsdl:port name="GUISoap12" binding="tns:GUISoap12">
      <soap12:address location="http://localhost/Accountability_WS/GUI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>