AccountabilityNotePad/AccountabilityNotePad/AccountabilityNotePad/Web References/AccRoutingServer/AccRouting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccServer">
        <s:complexType />
      </s:element>
      <s:element name="GetAccServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHelpURL">
        <s:complexType />
      </s:element>
      <s:element name="GetHelpURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHelpURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoxProConnection">
        <s:complexType />
      </s:element>
      <s:element name="GetFoxProConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFoxProConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccServerSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccServer" />
  </wsdl:message>
  <wsdl:message name="GetAccServerSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetHelpURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetHelpURL" />
  </wsdl:message>
  <wsdl:message name="GetHelpURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetHelpURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetFoxProConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:GetFoxProConnection" />
  </wsdl:message>
  <wsdl:message name="GetFoxProConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:GetFoxProConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="AccRoutingSoap">
    <wsdl:operation name="GetAccServer">
      <wsdl:input message="tns:GetAccServerSoapIn" />
      <wsdl:output message="tns:GetAccServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHelpURL">
      <wsdl:input message="tns:GetHelpURLSoapIn" />
      <wsdl:output message="tns:GetHelpURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFoxProConnection">
      <wsdl:input message="tns:GetFoxProConnectionSoapIn" />
      <wsdl:output message="tns:GetFoxProConnectionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccRoutingSoap" type="tns:AccRoutingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccServer">
      <soap:operation soapAction="http://tempuri.org/GetAccServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHelpURL">
      <soap:operation soapAction="http://tempuri.org/GetHelpURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoxProConnection">
      <soap:operation soapAction="http://tempuri.org/GetFoxProConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccRoutingSoap12" type="tns:AccRoutingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccServer">
      <soap12:operation soapAction="http://tempuri.org/GetAccServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHelpURL">
      <soap12:operation soapAction="http://tempuri.org/GetHelpURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoxProConnection">
      <soap12:operation soapAction="http://tempuri.org/GetFoxProConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccRouting">
    <wsdl:port name="AccRoutingSoap" binding="tns:AccRoutingSoap">
      <soap:address location="http://localhost:2000/maingui/AccRouting.asmx" />
    </wsdl:port>
    <wsdl:port name="AccRoutingSoap12" binding="tns:AccRoutingSoap12">
      <soap12:address location="http://localhost:2000/maingui/AccRouting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>