Accountability/Accountability/AccountabilityV2/ClassLibrary/Reporting/Data/dsRepArguments.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="dsRepArguments" targetNamespace="http://tempuri.org/dsRepArguments.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/dsRepArguments.xsd" xmlns:mstns="http://tempuri.org/dsRepArguments.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RepArguments">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TableName" type="xs:string" />
				<xs:element name="ArgValue" type="xs:string"  minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>