Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/NewTimingWS/AccTimingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckInService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CheckInDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckInServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOutService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CheckOutDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOutServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDayDetailsReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="All" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDayDetailsReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDayDetailsReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="All" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="WeekNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSummaryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSummaryReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckInServiceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckInService" />
  </wsdl:message>
  <wsdl:message name="CheckInServiceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckInServiceResponse" />
  </wsdl:message>
  <wsdl:message name="CheckOutServiceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckOutService" />
  </wsdl:message>
  <wsdl:message name="CheckOutServiceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckOutServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeStatus" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetDayDetailsReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetDayDetailsReport" />
  </wsdl:message>
  <wsdl:message name="GetDayDetailsReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetDayDetailsReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetSummaryReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetSummaryReport" />
  </wsdl:message>
  <wsdl:message name="GetSummaryReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetSummaryReportResponse" />
  </wsdl:message>
  <wsdl:portType name="AccTimingServiceSoap">
    <wsdl:operation name="CheckInService">
      <wsdl:input message="tns:CheckInServiceSoapIn" />
      <wsdl:output message="tns:CheckInServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckOutService">
      <wsdl:input message="tns:CheckOutServiceSoapIn" />
      <wsdl:output message="tns:CheckOutServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatus">
      <wsdl:input message="tns:GetEmployeeStatusSoapIn" />
      <wsdl:output message="tns:GetEmployeeStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDayDetailsReport">
      <wsdl:input message="tns:GetDayDetailsReportSoapIn" />
      <wsdl:output message="tns:GetDayDetailsReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReport">
      <wsdl:input message="tns:GetSummaryReportSoapIn" />
      <wsdl:output message="tns:GetSummaryReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccTimingServiceSoap" type="tns:AccTimingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInService">
      <soap:operation soapAction="http://tempuri.org/CheckInService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOutService">
      <soap:operation soapAction="http://tempuri.org/CheckOutService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatus">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayDetailsReport">
      <soap:operation soapAction="http://tempuri.org/GetDayDetailsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReport">
      <soap:operation soapAction="http://tempuri.org/GetSummaryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccTimingServiceSoap12" type="tns:AccTimingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="CheckInService">
      <soap12:operation soapAction="http://tempuri.org/CheckInService" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOutService">
      <soap12:operation soapAction="http://tempuri.org/CheckOutService" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatus">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeStatus" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayDetailsReport">
      <soap12:operation soapAction="http://tempuri.org/GetDayDetailsReport" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReport">
      <soap12:operation soapAction="http://tempuri.org/GetSummaryReport" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccTimingService">
    <wsdl:port name="AccTimingServiceSoap" binding="tns:AccTimingServiceSoap">
      <soap:address location="http://moawad/TimmingWS/AccTimingService.asmx" />
    </wsdl:port>
    <wsdl:port name="AccTimingServiceSoap12" binding="tns:AccTimingServiceSoap12">
      <soap12:address location="http://moawad/TimmingWS/AccTimingService.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>