Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/EAMWS/TimingWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCheckTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CheckTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCheckTimeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateEmployeeStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CheckTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="oldCheckType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newCheckType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateEmployeeTiming">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="oldCheckTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="newCheckTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="oldCheckType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newCheckType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Location" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifyedBy" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifyedDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeTimingResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAttendance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CheckTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeAttendanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAttendanceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeTimingStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeTimingStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeTimingStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeAttendance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CheckTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeAttendanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteEmployeeAttendanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeShiftExempted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ShiftID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Exempted" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeShiftExemptedResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeShiftExempted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeShiftExemptedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeShiftExemptedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeMissingData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeMissingDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeMissingDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTimingShifts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTimingShiftsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTimingShiftsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalCheckInTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalCheckInTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalCheckInTimeResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCheckTimeSoapIn">
    <wsdl:part name="parameters" element="tns:AddCheckTime" />
  </wsdl:message>
  <wsdl:message name="AddCheckTimeSoapOut">
    <wsdl:part name="parameters" element="tns:AddCheckTimeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeTimingSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeTiming" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeTimingSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeTimingResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAttendanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAttendance" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAttendanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeTimingStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeTimingStatus" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeTimingStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeTimingStatusResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeAttendanceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeAttendance" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeAttendanceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeShiftExemptedSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeShiftExempted" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeShiftExemptedSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeShiftExemptedResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeShiftExemptedSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeShiftExempted" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeShiftExemptedSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeShiftExemptedResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeMissingDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeMissingData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeMissingDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeMissingDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTimingShiftsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTimingShifts" />
  </wsdl:message>
  <wsdl:message name="GetAllTimingShiftsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTimingShiftsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalCheckInTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalCheckInTime" />
  </wsdl:message>
  <wsdl:message name="GetTotalCheckInTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalCheckInTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="TimingWSSoap">
    <wsdl:operation name="AddCheckTime">
      <wsdl:input message="tns:AddCheckTimeSoapIn" />
      <wsdl:output message="tns:AddCheckTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeStatus">
      <wsdl:input message="tns:UpdateEmployeeStatusSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeTiming">
      <wsdl:input message="tns:UpdateEmployeeTimingSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeTimingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAttendance">
      <wsdl:input message="tns:GetEmployeeAttendanceSoapIn" />
      <wsdl:output message="tns:GetEmployeeAttendanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTimingStatus">
      <wsdl:input message="tns:GetEmployeeTimingStatusSoapIn" />
      <wsdl:output message="tns:GetEmployeeTimingStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeAttendance">
      <wsdl:input message="tns:DeleteEmployeeAttendanceSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeAttendanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeShiftExempted">
      <wsdl:input message="tns:UpdateEmployeeShiftExemptedSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeShiftExemptedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeShiftExempted">
      <wsdl:input message="tns:GetEmployeeShiftExemptedSoapIn" />
      <wsdl:output message="tns:GetEmployeeShiftExemptedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMissingData">
      <wsdl:input message="tns:GetEmployeeMissingDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeMissingDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTimingShifts">
      <wsdl:input message="tns:GetAllTimingShiftsSoapIn" />
      <wsdl:output message="tns:GetAllTimingShiftsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalCheckInTime">
      <wsdl:input message="tns:GetTotalCheckInTimeSoapIn" />
      <wsdl:output message="tns:GetTotalCheckInTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimingWSSoap" type="tns:TimingWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCheckTime">
      <soap:operation soapAction="http://tempuri.org/AddCheckTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateEmployeeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeTiming">
      <soap:operation soapAction="http://tempuri.org/UpdateEmployeeTiming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAttendance">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTimingStatus">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeTimingStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeAttendance">
      <soap:operation soapAction="http://tempuri.org/DeleteEmployeeAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeShiftExempted">
      <soap:operation soapAction="http://tempuri.org/UpdateEmployeeShiftExempted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeShiftExempted">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeShiftExempted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMissingData">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeMissingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimingShifts">
      <soap:operation soapAction="http://tempuri.org/GetAllTimingShifts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalCheckInTime">
      <soap:operation soapAction="http://tempuri.org/GetTotalCheckInTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimingWSSoap12" type="tns:TimingWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCheckTime">
      <soap12:operation soapAction="http://tempuri.org/AddCheckTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateEmployeeStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeTiming">
      <soap12:operation soapAction="http://tempuri.org/UpdateEmployeeTiming" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAttendance">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeAttendance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTimingStatus">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeTimingStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeAttendance">
      <soap12:operation soapAction="http://tempuri.org/DeleteEmployeeAttendance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeShiftExempted">
      <soap12:operation soapAction="http://tempuri.org/UpdateEmployeeShiftExempted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeShiftExempted">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeShiftExempted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMissingData">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeMissingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimingShifts">
      <soap12:operation soapAction="http://tempuri.org/GetAllTimingShifts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalCheckInTime">
      <soap12:operation soapAction="http://tempuri.org/GetTotalCheckInTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimingWS">
    <wsdl:port name="TimingWSSoap" binding="tns:TimingWSSoap">
      <soap:address location="http://localhost/EAM_WS/TimingWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TimingWSSoap12" binding="tns:TimingWSSoap12">
      <soap12:address location="http://localhost/EAM_WS/TimingWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>