Accountability/Accountability/AccountabilityV2/Accountability_GUI/App_WebReferences/TSN/ERP/WebGUI/JobTitlesWS/JobTitles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListJobtitles">
        <s:complexType />
      </s:element>
      <s:element name="ListJobtitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListJobtitlesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ListActiveJobtitles">
        <s:complexType />
      </s:element>
      <s:element name="ListActiveJobtitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListActiveJobtitlesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListClosedJobtitles">
        <s:complexType />
      </s:element>
      <s:element name="ListClosedJobtitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListClosedJobtitlesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListSingleJobTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JobTitleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListSingleJobTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListSingleJobTitleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsJobTitleActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JobTitleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsJobTitleActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsJobTitleActiveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJobtitles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewJobTitles">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJobtitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddJobtitlesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditJobtitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifedJobTitles">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditJobtitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditJobtitleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListJobtitlesbyCompnayElment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompanyElementID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListJobtitlesbyCompnayElmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListJobtitlesbyCompnayElmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteJobtitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletedJobtitle">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteJobtitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteJobtitleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJobsToCompanyElement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JobTitles">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJobsToCompanyElementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddJobsToCompanyElementResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveJobsFromCompanyElement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JobTitles">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveJobsFromCompanyElementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveJobsFromCompanyElementResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JobRemoveJobsFromCompanyElement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jobTitleID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="compElm" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JobRemoveJobsFromCompanyElementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JobRemoveJobsFromCompanyElementResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponsbilities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewResponsbilities">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponsbilitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResponsbilitiesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditResponsbilities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditRespons">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditResponsbilitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditResponsbilitiesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponsbilities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletedRespons">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponsbilitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResponsbilitiesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListJobResponsbilities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JobID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListJobResponsbilitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListJobResponsbilitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListActiveJobResponsbilities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JobID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListActiveJobResponsbilitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListActiveJobResponsbilitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListClosedJobResponsbilities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JobID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListClosedJobResponsbilitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListClosedJobResponsbilitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListResponsbilities">
        <s:complexType />
      </s:element>
      <s:element name="ListResponsbilitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResponsbilitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListSingleResponsbility">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsibilityID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListSingleResponsbilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListSingleResponsbilityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsResponsibilityActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsibilityID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsResponsibilityActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsResponsibilityActiveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetERPSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListJobtitlesSoapIn">
    <wsdl:part name="parameters" element="tns:ListJobtitles" />
  </wsdl:message>
  <wsdl:message name="ListJobtitlesSoapOut">
    <wsdl:part name="parameters" element="tns:ListJobtitlesResponse" />
  </wsdl:message>
  <wsdl:message name="ListJobtitlesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListActiveJobtitlesSoapIn">
    <wsdl:part name="parameters" element="tns:ListActiveJobtitles" />
  </wsdl:message>
  <wsdl:message name="ListActiveJobtitlesSoapOut">
    <wsdl:part name="parameters" element="tns:ListActiveJobtitlesResponse" />
  </wsdl:message>
  <wsdl:message name="ListActiveJobtitlesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListClosedJobtitlesSoapIn">
    <wsdl:part name="parameters" element="tns:ListClosedJobtitles" />
  </wsdl:message>
  <wsdl:message name="ListClosedJobtitlesSoapOut">
    <wsdl:part name="parameters" element="tns:ListClosedJobtitlesResponse" />
  </wsdl:message>
  <wsdl:message name="ListClosedJobtitlesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListSingleJobTitleSoapIn">
    <wsdl:part name="parameters" element="tns:ListSingleJobTitle" />
  </wsdl:message>
  <wsdl:message name="ListSingleJobTitleSoapOut">
    <wsdl:part name="parameters" element="tns:ListSingleJobTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ListSingleJobTitleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="IsJobTitleActiveSoapIn">
    <wsdl:part name="parameters" element="tns:IsJobTitleActive" />
  </wsdl:message>
  <wsdl:message name="IsJobTitleActiveSoapOut">
    <wsdl:part name="parameters" element="tns:IsJobTitleActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IsJobTitleActiveAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddJobtitlesSoapIn">
    <wsdl:part name="parameters" element="tns:AddJobtitles" />
  </wsdl:message>
  <wsdl:message name="AddJobtitlesSoapOut">
    <wsdl:part name="parameters" element="tns:AddJobtitlesResponse" />
  </wsdl:message>
  <wsdl:message name="AddJobtitlesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="EditJobtitleSoapIn">
    <wsdl:part name="parameters" element="tns:EditJobtitle" />
  </wsdl:message>
  <wsdl:message name="EditJobtitleSoapOut">
    <wsdl:part name="parameters" element="tns:EditJobtitleResponse" />
  </wsdl:message>
  <wsdl:message name="EditJobtitleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListJobtitlesbyCompnayElmentSoapIn">
    <wsdl:part name="parameters" element="tns:ListJobtitlesbyCompnayElment" />
  </wsdl:message>
  <wsdl:message name="ListJobtitlesbyCompnayElmentSoapOut">
    <wsdl:part name="parameters" element="tns:ListJobtitlesbyCompnayElmentResponse" />
  </wsdl:message>
  <wsdl:message name="ListJobtitlesbyCompnayElmentAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteJobtitleSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteJobtitle" />
  </wsdl:message>
  <wsdl:message name="DeleteJobtitleSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteJobtitleResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteJobtitleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddJobsToCompanyElementSoapIn">
    <wsdl:part name="parameters" element="tns:AddJobsToCompanyElement" />
  </wsdl:message>
  <wsdl:message name="AddJobsToCompanyElementSoapOut">
    <wsdl:part name="parameters" element="tns:AddJobsToCompanyElementResponse" />
  </wsdl:message>
  <wsdl:message name="AddJobsToCompanyElementAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveJobsFromCompanyElementSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveJobsFromCompanyElement" />
  </wsdl:message>
  <wsdl:message name="RemoveJobsFromCompanyElementSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveJobsFromCompanyElementResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveJobsFromCompanyElementAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="JobRemoveJobsFromCompanyElementSoapIn">
    <wsdl:part name="parameters" element="tns:JobRemoveJobsFromCompanyElement" />
  </wsdl:message>
  <wsdl:message name="JobRemoveJobsFromCompanyElementSoapOut">
    <wsdl:part name="parameters" element="tns:JobRemoveJobsFromCompanyElementResponse" />
  </wsdl:message>
  <wsdl:message name="JobRemoveJobsFromCompanyElementAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddResponsbilitiesSoapIn">
    <wsdl:part name="parameters" element="tns:AddResponsbilities" />
  </wsdl:message>
  <wsdl:message name="AddResponsbilitiesSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponsbilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="AddResponsbilitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="EditResponsbilitiesSoapIn">
    <wsdl:part name="parameters" element="tns:EditResponsbilities" />
  </wsdl:message>
  <wsdl:message name="EditResponsbilitiesSoapOut">
    <wsdl:part name="parameters" element="tns:EditResponsbilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="EditResponsbilitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteResponsbilitiesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteResponsbilities" />
  </wsdl:message>
  <wsdl:message name="DeleteResponsbilitiesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponsbilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteResponsbilitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListJobResponsbilitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ListJobResponsbilities" />
  </wsdl:message>
  <wsdl:message name="ListJobResponsbilitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ListJobResponsbilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ListJobResponsbilitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListActiveJobResponsbilitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ListActiveJobResponsbilities" />
  </wsdl:message>
  <wsdl:message name="ListActiveJobResponsbilitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ListActiveJobResponsbilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ListActiveJobResponsbilitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListClosedJobResponsbilitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ListClosedJobResponsbilities" />
  </wsdl:message>
  <wsdl:message name="ListClosedJobResponsbilitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ListClosedJobResponsbilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ListClosedJobResponsbilitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListResponsbilitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ListResponsbilities" />
  </wsdl:message>
  <wsdl:message name="ListResponsbilitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponsbilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ListResponsbilitiesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListSingleResponsbilitySoapIn">
    <wsdl:part name="parameters" element="tns:ListSingleResponsbility" />
  </wsdl:message>
  <wsdl:message name="ListSingleResponsbilitySoapOut">
    <wsdl:part name="parameters" element="tns:ListSingleResponsbilityResponse" />
  </wsdl:message>
  <wsdl:message name="ListSingleResponsbilityAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="IsResponsibilityActiveSoapIn">
    <wsdl:part name="parameters" element="tns:IsResponsibilityActive" />
  </wsdl:message>
  <wsdl:message name="IsResponsibilityActiveSoapOut">
    <wsdl:part name="parameters" element="tns:IsResponsibilityActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IsResponsibilityActiveAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPSession" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="JobTitlesSoap">
    <wsdl:operation name="ListJobtitles">
      <wsdl:input message="tns:ListJobtitlesSoapIn" />
      <wsdl:output message="tns:ListJobtitlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListActiveJobtitles">
      <wsdl:input message="tns:ListActiveJobtitlesSoapIn" />
      <wsdl:output message="tns:ListActiveJobtitlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListClosedJobtitles">
      <wsdl:input message="tns:ListClosedJobtitlesSoapIn" />
      <wsdl:output message="tns:ListClosedJobtitlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListSingleJobTitle">
      <wsdl:input message="tns:ListSingleJobTitleSoapIn" />
      <wsdl:output message="tns:ListSingleJobTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsJobTitleActive">
      <wsdl:input message="tns:IsJobTitleActiveSoapIn" />
      <wsdl:output message="tns:IsJobTitleActiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddJobtitles">
      <wsdl:input message="tns:AddJobtitlesSoapIn" />
      <wsdl:output message="tns:AddJobtitlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditJobtitle">
      <wsdl:input message="tns:EditJobtitleSoapIn" />
      <wsdl:output message="tns:EditJobtitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListJobtitlesbyCompnayElment">
      <wsdl:input message="tns:ListJobtitlesbyCompnayElmentSoapIn" />
      <wsdl:output message="tns:ListJobtitlesbyCompnayElmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJobtitle">
      <wsdl:input message="tns:DeleteJobtitleSoapIn" />
      <wsdl:output message="tns:DeleteJobtitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddJobsToCompanyElement">
      <wsdl:input message="tns:AddJobsToCompanyElementSoapIn" />
      <wsdl:output message="tns:AddJobsToCompanyElementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveJobsFromCompanyElement">
      <wsdl:input message="tns:RemoveJobsFromCompanyElementSoapIn" />
      <wsdl:output message="tns:RemoveJobsFromCompanyElementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveJobsFromCompanyElement">
      <wsdl:input name="JobRemoveJobsFromCompanyElement" message="tns:JobRemoveJobsFromCompanyElementSoapIn" />
      <wsdl:output name="JobRemoveJobsFromCompanyElement" message="tns:JobRemoveJobsFromCompanyElementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddResponsbilities">
      <wsdl:input message="tns:AddResponsbilitiesSoapIn" />
      <wsdl:output message="tns:AddResponsbilitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditResponsbilities">
      <wsdl:input message="tns:EditResponsbilitiesSoapIn" />
      <wsdl:output message="tns:EditResponsbilitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteResponsbilities">
      <wsdl:input message="tns:DeleteResponsbilitiesSoapIn" />
      <wsdl:output message="tns:DeleteResponsbilitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListJobResponsbilities">
      <wsdl:input message="tns:ListJobResponsbilitiesSoapIn" />
      <wsdl:output message="tns:ListJobResponsbilitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListActiveJobResponsbilities">
      <wsdl:input message="tns:ListActiveJobResponsbilitiesSoapIn" />
      <wsdl:output message="tns:ListActiveJobResponsbilitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListClosedJobResponsbilities">
      <wsdl:input message="tns:ListClosedJobResponsbilitiesSoapIn" />
      <wsdl:output message="tns:ListClosedJobResponsbilitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListResponsbilities">
      <wsdl:input message="tns:ListResponsbilitiesSoapIn" />
      <wsdl:output message="tns:ListResponsbilitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListSingleResponsbility">
      <wsdl:input message="tns:ListSingleResponsbilitySoapIn" />
      <wsdl:output message="tns:ListSingleResponsbilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsResponsibilityActive">
      <wsdl:input message="tns:IsResponsibilityActiveSoapIn" />
      <wsdl:output message="tns:IsResponsibilityActiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <wsdl:input message="tns:GetERPSessionSoapIn" />
      <wsdl:output message="tns:GetERPSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobTitlesSoap" type="tns:JobTitlesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListJobtitles">
      <soap:operation soapAction="http://tempuri.org/ListJobtitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListJobtitlesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveJobtitles">
      <soap:operation soapAction="http://tempuri.org/ListActiveJobtitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListActiveJobtitlesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListClosedJobtitles">
      <soap:operation soapAction="http://tempuri.org/ListClosedJobtitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListClosedJobtitlesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSingleJobTitle">
      <soap:operation soapAction="http://tempuri.org/ListSingleJobTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListSingleJobTitleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsJobTitleActive">
      <soap:operation soapAction="http://tempuri.org/IsJobTitleActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsJobTitleActiveAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobtitles">
      <soap:operation soapAction="http://tempuri.org/AddJobtitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddJobtitlesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditJobtitle">
      <soap:operation soapAction="http://tempuri.org/EditJobtitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EditJobtitleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListJobtitlesbyCompnayElment">
      <soap:operation soapAction="http://tempuri.org/ListJobtitlesbyCompnayElment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListJobtitlesbyCompnayElmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJobtitle">
      <soap:operation soapAction="http://tempuri.org/DeleteJobtitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteJobtitleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobsToCompanyElement">
      <soap:operation soapAction="http://tempuri.org/AddJobsToCompanyElement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddJobsToCompanyElementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveJobsFromCompanyElement">
      <soap:operation soapAction="http://tempuri.org/RemoveJobsFromCompanyElement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveJobsFromCompanyElementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveJobsFromCompanyElement">
      <soap:operation soapAction="http://tempuri.org/JobRemoveJobsFromCompanyElement" style="document" />
      <wsdl:input name="JobRemoveJobsFromCompanyElement">
        <soap:body use="literal" />
        <soap:header message="tns:JobRemoveJobsFromCompanyElementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="JobRemoveJobsFromCompanyElement">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResponsbilities">
      <soap:operation soapAction="http://tempuri.org/AddResponsbilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditResponsbilities">
      <soap:operation soapAction="http://tempuri.org/EditResponsbilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EditResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResponsbilities">
      <soap:operation soapAction="http://tempuri.org/DeleteResponsbilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListJobResponsbilities">
      <soap:operation soapAction="http://tempuri.org/ListJobResponsbilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListJobResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveJobResponsbilities">
      <soap:operation soapAction="http://tempuri.org/ListActiveJobResponsbilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListActiveJobResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListClosedJobResponsbilities">
      <soap:operation soapAction="http://tempuri.org/ListClosedJobResponsbilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListClosedJobResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListResponsbilities">
      <soap:operation soapAction="http://tempuri.org/ListResponsbilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSingleResponsbility">
      <soap:operation soapAction="http://tempuri.org/ListSingleResponsbility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListSingleResponsbilityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsResponsibilityActive">
      <soap:operation soapAction="http://tempuri.org/IsResponsibilityActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsResponsibilityActiveAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JobTitlesSoap12" type="tns:JobTitlesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListJobtitles">
      <soap12:operation soapAction="http://tempuri.org/ListJobtitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListJobtitlesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveJobtitles">
      <soap12:operation soapAction="http://tempuri.org/ListActiveJobtitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListActiveJobtitlesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListClosedJobtitles">
      <soap12:operation soapAction="http://tempuri.org/ListClosedJobtitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListClosedJobtitlesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSingleJobTitle">
      <soap12:operation soapAction="http://tempuri.org/ListSingleJobTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListSingleJobTitleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsJobTitleActive">
      <soap12:operation soapAction="http://tempuri.org/IsJobTitleActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsJobTitleActiveAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobtitles">
      <soap12:operation soapAction="http://tempuri.org/AddJobtitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddJobtitlesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditJobtitle">
      <soap12:operation soapAction="http://tempuri.org/EditJobtitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EditJobtitleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListJobtitlesbyCompnayElment">
      <soap12:operation soapAction="http://tempuri.org/ListJobtitlesbyCompnayElment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListJobtitlesbyCompnayElmentAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJobtitle">
      <soap12:operation soapAction="http://tempuri.org/DeleteJobtitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteJobtitleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobsToCompanyElement">
      <soap12:operation soapAction="http://tempuri.org/AddJobsToCompanyElement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddJobsToCompanyElementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveJobsFromCompanyElement">
      <soap12:operation soapAction="http://tempuri.org/RemoveJobsFromCompanyElement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveJobsFromCompanyElementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveJobsFromCompanyElement">
      <soap12:operation soapAction="http://tempuri.org/JobRemoveJobsFromCompanyElement" style="document" />
      <wsdl:input name="JobRemoveJobsFromCompanyElement">
        <soap12:body use="literal" />
        <soap12:header message="tns:JobRemoveJobsFromCompanyElementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="JobRemoveJobsFromCompanyElement">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResponsbilities">
      <soap12:operation soapAction="http://tempuri.org/AddResponsbilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditResponsbilities">
      <soap12:operation soapAction="http://tempuri.org/EditResponsbilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EditResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResponsbilities">
      <soap12:operation soapAction="http://tempuri.org/DeleteResponsbilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListJobResponsbilities">
      <soap12:operation soapAction="http://tempuri.org/ListJobResponsbilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListJobResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveJobResponsbilities">
      <soap12:operation soapAction="http://tempuri.org/ListActiveJobResponsbilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListActiveJobResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListClosedJobResponsbilities">
      <soap12:operation soapAction="http://tempuri.org/ListClosedJobResponsbilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListClosedJobResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListResponsbilities">
      <soap12:operation soapAction="http://tempuri.org/ListResponsbilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListResponsbilitiesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSingleResponsbility">
      <soap12:operation soapAction="http://tempuri.org/ListSingleResponsbility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListSingleResponsbilityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsResponsibilityActive">
      <soap12:operation soapAction="http://tempuri.org/IsResponsibilityActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsResponsibilityActiveAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap12:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobTitles">
    <wsdl:port name="JobTitlesSoap" binding="tns:JobTitlesSoap">
      <soap:address location="http://localhost/Accountability_WS/JobTitles.asmx" />
    </wsdl:port>
    <wsdl:port name="JobTitlesSoap12" binding="tns:JobTitlesSoap12">
      <soap12:address location="http://localhost/Accountability_WS/JobTitles.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>