ASI-CRM/ASI.Office/ASI.Office/App_WebReferences/SSSData/SSSData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/MembersDS.xsd" />
      <s:import namespace="http://tempuri.org/Webinars.xsd" />
      <s:import schemaLocation="http://www.steelsmartsystem.com/services/Services/SSSData.asmx?schema=MembersDS" namespace="http://tempuri.org/MembersDS.xsd" />
      <s:import schemaLocation="http://www.steelsmartsystem.com/services/Services/SSSData.asmx?schema=Webinars" namespace="http://tempuri.org/Webinars.xsd" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMembers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMembersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/MembersDS.xsd" name="namespace" />
                <s:attribute fixed="MembersDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="DeleteMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllWebinarRegistrations">
        <s:complexType />
      </s:element>
      <s:element name="GetAllWebinarRegistrationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllWebinarRegistrationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/Webinars.xsd" name="namespace" />
                <s:attribute fixed="WebinarRegDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sss" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="lgd" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ldg" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="approved" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="sss" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="lgd" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ldg" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="approved" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditApprovedBy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="approvedBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="approvedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="sendEmail" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="webinar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditApprovedByResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditApprovedByResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddWebinarReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webinarData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendEmail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddWebinarRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddWebinarRegResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWebinarReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webinarData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sendEmail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWebinarRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateWebinarRegResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWebinarRegAttendance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="attend" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWebinarRegAttendanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateWebinarRegAttendanceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAgreement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="agreement" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAgreementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAgreementResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckWebinarAttend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckWebinarAttendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckWebinarAttendResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckWebinarAttendDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckWebinarAttendDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckWebinarAttendDateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchadualWebinar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchadualWebinarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchadualWebinarResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSchadualWebinar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webinarData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSchadualWebinarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateSchadualWebinarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWebinarReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWebinarRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteWebinarRegResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMemeberSurvey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMemeberSurveyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMemeberSurveyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMembersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMembers" />
  </wsdl:message>
  <wsdl:message name="GetAllMembersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMembersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMembersAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteMemberSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMember" />
  </wsdl:message>
  <wsdl:message name="DeleteMemberSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMemberResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMemberAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetAllWebinarRegistrationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllWebinarRegistrations" />
  </wsdl:message>
  <wsdl:message name="GetAllWebinarRegistrationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllWebinarRegistrationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllWebinarRegistrationsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="AddMemberAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="EditMemberSoapIn">
    <wsdl:part name="parameters" element="tns:EditMember" />
  </wsdl:message>
  <wsdl:message name="EditMemberSoapOut">
    <wsdl:part name="parameters" element="tns:EditMemberResponse" />
  </wsdl:message>
  <wsdl:message name="EditMemberAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="EditApprovedBySoapIn">
    <wsdl:part name="parameters" element="tns:EditApprovedBy" />
  </wsdl:message>
  <wsdl:message name="EditApprovedBySoapOut">
    <wsdl:part name="parameters" element="tns:EditApprovedByResponse" />
  </wsdl:message>
  <wsdl:message name="EditApprovedByAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AddWebinarRegSoapIn">
    <wsdl:part name="parameters" element="tns:AddWebinarReg" />
  </wsdl:message>
  <wsdl:message name="AddWebinarRegSoapOut">
    <wsdl:part name="parameters" element="tns:AddWebinarRegResponse" />
  </wsdl:message>
  <wsdl:message name="AddWebinarRegAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateWebinarRegSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWebinarReg" />
  </wsdl:message>
  <wsdl:message name="UpdateWebinarRegSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWebinarRegResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWebinarRegAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateWebinarRegAttendanceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWebinarRegAttendance" />
  </wsdl:message>
  <wsdl:message name="UpdateWebinarRegAttendanceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWebinarRegAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWebinarRegAttendanceAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateAgreementSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAgreement" />
  </wsdl:message>
  <wsdl:message name="UpdateAgreementSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAgreementAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CheckWebinarAttendSoapIn">
    <wsdl:part name="parameters" element="tns:CheckWebinarAttend" />
  </wsdl:message>
  <wsdl:message name="CheckWebinarAttendSoapOut">
    <wsdl:part name="parameters" element="tns:CheckWebinarAttendResponse" />
  </wsdl:message>
  <wsdl:message name="CheckWebinarAttendAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CheckWebinarAttendDateSoapIn">
    <wsdl:part name="parameters" element="tns:CheckWebinarAttendDate" />
  </wsdl:message>
  <wsdl:message name="CheckWebinarAttendDateSoapOut">
    <wsdl:part name="parameters" element="tns:CheckWebinarAttendDateResponse" />
  </wsdl:message>
  <wsdl:message name="CheckWebinarAttendDateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetSchadualWebinarSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchadualWebinar" />
  </wsdl:message>
  <wsdl:message name="GetSchadualWebinarSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchadualWebinarResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchadualWebinarAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="updateSchadualWebinarSoapIn">
    <wsdl:part name="parameters" element="tns:updateSchadualWebinar" />
  </wsdl:message>
  <wsdl:message name="updateSchadualWebinarSoapOut">
    <wsdl:part name="parameters" element="tns:updateSchadualWebinarResponse" />
  </wsdl:message>
  <wsdl:message name="updateSchadualWebinarAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteWebinarRegSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteWebinarReg" />
  </wsdl:message>
  <wsdl:message name="DeleteWebinarRegSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteWebinarRegResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWebinarRegAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getMemeberSurveySoapIn">
    <wsdl:part name="parameters" element="tns:getMemeberSurvey" />
  </wsdl:message>
  <wsdl:message name="getMemeberSurveySoapOut">
    <wsdl:part name="parameters" element="tns:getMemeberSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="getMemeberSurveyAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="SSSDataSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetAllMemeber</wsdl:documentation>
      <wsdl:input message="tns:GetAllMembersSoapIn" />
      <wsdl:output message="tns:GetAllMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetAllMemeber</wsdl:documentation>
      <wsdl:input message="tns:DeleteMemberSoapIn" />
      <wsdl:output message="tns:DeleteMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWebinarRegistrations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all webinars</wsdl:documentation>
      <wsdl:input message="tns:GetAllWebinarRegistrationsSoapIn" />
      <wsdl:output message="tns:GetAllWebinarRegistrationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add new memeber</wsdl:documentation>
      <wsdl:input message="tns:AddMemberSoapIn" />
      <wsdl:output message="tns:AddMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit member</wsdl:documentation>
      <wsdl:input message="tns:EditMemberSoapIn" />
      <wsdl:output message="tns:EditMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditApprovedBy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit approved by</wsdl:documentation>
      <wsdl:input message="tns:EditApprovedBySoapIn" />
      <wsdl:output message="tns:EditApprovedBySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddWebinarReg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add webinar registeration</wsdl:documentation>
      <wsdl:input message="tns:AddWebinarRegSoapIn" />
      <wsdl:output message="tns:AddWebinarRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWebinarReg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update webinar registration</wsdl:documentation>
      <wsdl:input message="tns:UpdateWebinarRegSoapIn" />
      <wsdl:output message="tns:UpdateWebinarRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWebinarRegAttendance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update webinar registration</wsdl:documentation>
      <wsdl:input message="tns:UpdateWebinarRegAttendanceSoapIn" />
      <wsdl:output message="tns:UpdateWebinarRegAttendanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAgreement">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update webinar registration</wsdl:documentation>
      <wsdl:input message="tns:UpdateAgreementSoapIn" />
      <wsdl:output message="tns:UpdateAgreementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckWebinarAttend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update webinar registration</wsdl:documentation>
      <wsdl:input message="tns:CheckWebinarAttendSoapIn" />
      <wsdl:output message="tns:CheckWebinarAttendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckWebinarAttendDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update webinar registration</wsdl:documentation>
      <wsdl:input message="tns:CheckWebinarAttendDateSoapIn" />
      <wsdl:output message="tns:CheckWebinarAttendDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchadualWebinar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update webinar registration</wsdl:documentation>
      <wsdl:input message="tns:GetSchadualWebinarSoapIn" />
      <wsdl:output message="tns:GetSchadualWebinarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSchadualWebinar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update webinar registration</wsdl:documentation>
      <wsdl:input message="tns:updateSchadualWebinarSoapIn" />
      <wsdl:output message="tns:updateSchadualWebinarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWebinarReg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update webinar registration</wsdl:documentation>
      <wsdl:input message="tns:DeleteWebinarRegSoapIn" />
      <wsdl:output message="tns:DeleteWebinarRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMemeberSurvey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add webinar registeration</wsdl:documentation>
      <wsdl:input message="tns:getMemeberSurveySoapIn" />
      <wsdl:output message="tns:getMemeberSurveySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSSDataSoap" type="tns:SSSDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMembers">
      <soap:operation soapAction="http://tempuri.org/GetAllMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAllMembersAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <soap:operation soapAction="http://tempuri.org/DeleteMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteMemberAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWebinarRegistrations">
      <soap:operation soapAction="http://tempuri.org/GetAllWebinarRegistrations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAllWebinarRegistrationsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddMemberAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMember">
      <soap:operation soapAction="http://tempuri.org/EditMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EditMemberAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditApprovedBy">
      <soap:operation soapAction="http://tempuri.org/EditApprovedBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EditApprovedByAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWebinarReg">
      <soap:operation soapAction="http://tempuri.org/AddWebinarReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddWebinarRegAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebinarReg">
      <soap:operation soapAction="http://tempuri.org/UpdateWebinarReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateWebinarRegAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebinarRegAttendance">
      <soap:operation soapAction="http://tempuri.org/UpdateWebinarRegAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateWebinarRegAttendanceAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAgreement">
      <soap:operation soapAction="http://tempuri.org/UpdateAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateAgreementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckWebinarAttend">
      <soap:operation soapAction="http://tempuri.org/CheckWebinarAttend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckWebinarAttendAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckWebinarAttendDate">
      <soap:operation soapAction="http://tempuri.org/CheckWebinarAttendDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckWebinarAttendDateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchadualWebinar">
      <soap:operation soapAction="http://tempuri.org/GetSchadualWebinar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSchadualWebinarAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSchadualWebinar">
      <soap:operation soapAction="http://tempuri.org/updateSchadualWebinar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:updateSchadualWebinarAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWebinarReg">
      <soap:operation soapAction="http://tempuri.org/DeleteWebinarReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteWebinarRegAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMemeberSurvey">
      <soap:operation soapAction="http://tempuri.org/getMemeberSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getMemeberSurveyAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSSDataSoap12" type="tns:SSSDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMembers">
      <soap12:operation soapAction="http://tempuri.org/GetAllMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAllMembersAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <soap12:operation soapAction="http://tempuri.org/DeleteMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteMemberAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWebinarRegistrations">
      <soap12:operation soapAction="http://tempuri.org/GetAllWebinarRegistrations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAllWebinarRegistrationsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap12:operation soapAction="http://tempuri.org/AddMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddMemberAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMember">
      <soap12:operation soapAction="http://tempuri.org/EditMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EditMemberAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditApprovedBy">
      <soap12:operation soapAction="http://tempuri.org/EditApprovedBy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EditApprovedByAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWebinarReg">
      <soap12:operation soapAction="http://tempuri.org/AddWebinarReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddWebinarRegAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebinarReg">
      <soap12:operation soapAction="http://tempuri.org/UpdateWebinarReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateWebinarRegAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebinarRegAttendance">
      <soap12:operation soapAction="http://tempuri.org/UpdateWebinarRegAttendance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateWebinarRegAttendanceAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAgreement">
      <soap12:operation soapAction="http://tempuri.org/UpdateAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateAgreementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckWebinarAttend">
      <soap12:operation soapAction="http://tempuri.org/CheckWebinarAttend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckWebinarAttendAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckWebinarAttendDate">
      <soap12:operation soapAction="http://tempuri.org/CheckWebinarAttendDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckWebinarAttendDateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchadualWebinar">
      <soap12:operation soapAction="http://tempuri.org/GetSchadualWebinar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSchadualWebinarAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSchadualWebinar">
      <soap12:operation soapAction="http://tempuri.org/updateSchadualWebinar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:updateSchadualWebinarAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWebinarReg">
      <soap12:operation soapAction="http://tempuri.org/DeleteWebinarReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteWebinarRegAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMemeberSurvey">
      <soap12:operation soapAction="http://tempuri.org/getMemeberSurvey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getMemeberSurveyAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSSData">
    <wsdl:port name="SSSDataSoap" binding="tns:SSSDataSoap">
      <soap:address location="http://www.steelsmartsystem.com/services/Services/SSSData.asmx" />
    </wsdl:port>
    <wsdl:port name="SSSDataSoap12" binding="tns:SSSDataSoap12">
      <soap12:address location="http://www.steelsmartsystem.com/services/Services/SSSData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>