AccountabilityNotePad/AccountabilityNotePad/AccountabilityNotePad/Web References/AccountabilityService/AccountabilityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="UpdateSheet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountabilitySheet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ViewType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSheetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSheetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSheetForDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountabilitySheet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ViewType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsUpdateOneDateOnly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSheetForDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSheetForDayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CureentEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CureentEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="SheetDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SheetDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SheetView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ViewType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SheetViewResponse">
        <s:complexType />
      </s:element>
      <s:element name="ViewAccountabilityEmployees">
        <s:complexType />
      </s:element>
      <s:element name="ViewAccountabilityEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewAccountabilityEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Load">
        <s:complexType />
      </s:element>
      <s:element name="LoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalAccSheet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sheetDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalAccSheetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTotalAccSheetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccSheet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ViewType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="showOffDays" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccSheetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccSheetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssigmentAccountability">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="assignmentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssigmentAccountabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssigmentAccountabilityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAccountabilityValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssginmentID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="AccDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAccountabilityValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetAccountabilityValueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoteDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="NoteBody" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveNoteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveNoteInSpecificDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoteDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="NoteBody" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveNoteInSpecificDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveNoteInSpecificDateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeTaskSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeTaskSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeTaskSummaryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeNotesInInterval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeNotesInIntervalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeNotesInIntervalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetERPSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSheetSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSheet" />
  </wsdl:message>
  <wsdl:message name="UpdateSheetSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSheetResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSheetAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSheetForDaySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSheetForDay" />
  </wsdl:message>
  <wsdl:message name="UpdateSheetForDaySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSheetForDayResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSheetForDayAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CureentEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:CureentEmployee" />
  </wsdl:message>
  <wsdl:message name="CureentEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:CureentEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="CureentEmployeeAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SheetDateSoapIn">
    <wsdl:part name="parameters" element="tns:SheetDate" />
  </wsdl:message>
  <wsdl:message name="SheetDateSoapOut">
    <wsdl:part name="parameters" element="tns:SheetDateResponse" />
  </wsdl:message>
  <wsdl:message name="SheetDateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SheetViewSoapIn">
    <wsdl:part name="parameters" element="tns:SheetView" />
  </wsdl:message>
  <wsdl:message name="SheetViewSoapOut">
    <wsdl:part name="parameters" element="tns:SheetViewResponse" />
  </wsdl:message>
  <wsdl:message name="SheetViewAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ViewAccountabilityEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:ViewAccountabilityEmployees" />
  </wsdl:message>
  <wsdl:message name="ViewAccountabilityEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:ViewAccountabilityEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="ViewAccountabilityEmployeesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="LoadSoapIn">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="LoadSoapOut">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:message name="LoadAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetTotalAccSheetSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalAccSheet" />
  </wsdl:message>
  <wsdl:message name="GetTotalAccSheetSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalAccSheetResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalAccSheetAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccSheetSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccSheet" />
  </wsdl:message>
  <wsdl:message name="GetAccSheetSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccSheetResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccSheetAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetAssigmentAccountabilitySoapIn">
    <wsdl:part name="parameters" element="tns:GetAssigmentAccountability" />
  </wsdl:message>
  <wsdl:message name="GetAssigmentAccountabilitySoapOut">
    <wsdl:part name="parameters" element="tns:GetAssigmentAccountabilityResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssigmentAccountabilityAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SetAccountabilityValueSoapIn">
    <wsdl:part name="parameters" element="tns:SetAccountabilityValue" />
  </wsdl:message>
  <wsdl:message name="SetAccountabilityValueSoapOut">
    <wsdl:part name="parameters" element="tns:SetAccountabilityValueResponse" />
  </wsdl:message>
  <wsdl:message name="SetAccountabilityValueAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SaveNoteSoapIn">
    <wsdl:part name="parameters" element="tns:SaveNote" />
  </wsdl:message>
  <wsdl:message name="SaveNoteSoapOut">
    <wsdl:part name="parameters" element="tns:SaveNoteResponse" />
  </wsdl:message>
  <wsdl:message name="SaveNoteAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SaveNoteInSpecificDateSoapIn">
    <wsdl:part name="parameters" element="tns:SaveNoteInSpecificDate" />
  </wsdl:message>
  <wsdl:message name="SaveNoteInSpecificDateSoapOut">
    <wsdl:part name="parameters" element="tns:SaveNoteInSpecificDateResponse" />
  </wsdl:message>
  <wsdl:message name="SaveNoteInSpecificDateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeTaskSummarySoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeTaskSummary" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeTaskSummarySoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeTaskSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeTaskSummaryAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeNotesInIntervalSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeNotesInInterval" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeNotesInIntervalSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeNotesInIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeNotesInIntervalAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPSession" />
  </wsdl:message>
  <wsdl:message name="GetERPSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountabilityServiceSoap">
    <wsdl:operation name="UpdateSheet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Updates an Accountability Sheet</documentation>
      <wsdl:input message="tns:UpdateSheetSoapIn" />
      <wsdl:output message="tns:UpdateSheetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSheetForDay">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Updates an Accountability Sheet for One Day only</documentation>
      <wsdl:input message="tns:UpdateSheetForDaySoapIn" />
      <wsdl:output message="tns:UpdateSheetForDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CureentEmployee">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the employee Id for the accountability sheet manager</documentation>
      <wsdl:input message="tns:CureentEmployeeSoapIn" />
      <wsdl:output message="tns:CureentEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SheetDate">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the current date for the accountability sheet manager</documentation>
      <wsdl:input message="tns:SheetDateSoapIn" />
      <wsdl:output message="tns:SheetDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SheetView">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Choose the type of sheet view used by the accountability manager, General = 10, Projectts = 30</documentation>
      <wsdl:input message="tns:SheetViewSoapIn" />
      <wsdl:output message="tns:SheetViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAccountabilityEmployees">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">gets a list of employees which the current user has access to their accountability sheet</documentation>
      <wsdl:input message="tns:ViewAccountabilityEmployeesSoapIn" />
      <wsdl:output message="tns:ViewAccountabilityEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Load">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the accountability sheet loaded by the last refresh ,returns a data set of type (TSN.ERP.SharedComponents.Data.dsAccountabilitySheet) </documentation>
      <wsdl:input message="tns:LoadSoapIn" />
      <wsdl:output message="tns:LoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalAccSheet">
      <wsdl:input message="tns:GetTotalAccSheetSoapIn" />
      <wsdl:output message="tns:GetTotalAccSheetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccSheet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the accountability sheet loaded by the last refresh ,returns a data set of type (TSN.ERP.SharedComponents.Data.dsAccountabilitySheet) </documentation>
      <wsdl:input message="tns:GetAccSheetSoapIn" />
      <wsdl:output message="tns:GetAccSheetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssigmentAccountability">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the accountability sheet for given assignment</documentation>
      <wsdl:input message="tns:GetAssigmentAccountabilitySoapIn" />
      <wsdl:output message="tns:GetAssigmentAccountabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAccountabilityValue">
      <wsdl:input message="tns:SetAccountabilityValueSoapIn" />
      <wsdl:output message="tns:SetAccountabilityValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveNote">
      <wsdl:input message="tns:SaveNoteSoapIn" />
      <wsdl:output message="tns:SaveNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveNoteInSpecificDate">
      <wsdl:input message="tns:SaveNoteInSpecificDateSoapIn" />
      <wsdl:output message="tns:SaveNoteInSpecificDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTaskSummary">
      <wsdl:input message="tns:GetEmployeeTaskSummarySoapIn" />
      <wsdl:output message="tns:GetEmployeeTaskSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeNotesInInterval">
      <wsdl:input message="tns:GetEmployeeNotesInIntervalSoapIn" />
      <wsdl:output message="tns:GetEmployeeNotesInIntervalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <wsdl:input message="tns:GetERPSessionSoapIn" />
      <wsdl:output message="tns:GetERPSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountabilityServiceSoap" type="tns:AccountabilityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateSheet">
      <soap:operation soapAction="http://tempuri.org/UpdateSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSheetAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSheetForDay">
      <soap:operation soapAction="http://tempuri.org/UpdateSheetForDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSheetForDayAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CureentEmployee">
      <soap:operation soapAction="http://tempuri.org/CureentEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CureentEmployeeAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheetDate">
      <soap:operation soapAction="http://tempuri.org/SheetDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SheetDateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheetView">
      <soap:operation soapAction="http://tempuri.org/SheetView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SheetViewAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAccountabilityEmployees">
      <soap:operation soapAction="http://tempuri.org/ViewAccountabilityEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ViewAccountabilityEmployeesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://tempuri.org/Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LoadAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalAccSheet">
      <soap:operation soapAction="http://tempuri.org/GetTotalAccSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTotalAccSheetAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccSheet">
      <soap:operation soapAction="http://tempuri.org/GetAccSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccSheetAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssigmentAccountability">
      <soap:operation soapAction="http://tempuri.org/GetAssigmentAccountability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAssigmentAccountabilityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAccountabilityValue">
      <soap:operation soapAction="http://tempuri.org/SetAccountabilityValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetAccountabilityValueAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNote">
      <soap:operation soapAction="http://tempuri.org/SaveNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SaveNoteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNoteInSpecificDate">
      <soap:operation soapAction="http://tempuri.org/SaveNoteInSpecificDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SaveNoteInSpecificDateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTaskSummary">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeTaskSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeeTaskSummaryAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeNotesInInterval">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeNotesInInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeeNotesInIntervalAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPSession">
      <soap:operation soapAction="http://tempuri.org/GetERPSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountabilityService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="AccountabilityServiceSoap" binding="tns:AccountabilityServiceSoap">
      <soap:address location="http://localhost/Accountability_WS/AccountabilityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>